<button data-cy="it-add-keyword-button"
        ng-class="{'small': ctrl.grSmall}"
        ng-click="ctrl.active = true"
        ng-disabled="ctrl.adding"
        ng-if="!ctrl.active"
        gr-tooltip="Add keyword"
        gr-tooltip-position="left"
        aria-label="Add keyword to image">

    <gr-icon ng-class="{'spin': ctrl.adding}">add_box</gr-icon>
    <span>
       <span ng-show="ctrl.adding">Adding...</span>
    </span>
</button>
<form class="gr-add-keyword__form"
      ng-if="ctrl.active"
      ng-submit="ctrl.save()">
    <gr-datalist
        class="job-info--editor__input"
        gr-search="ctrl.labelSearch(q)">

        <input data-cy="keyword-input"
               type="text"
               class="text-input gr-add-keyword__form__input show-no-error"
               placeholder="keyword1, keyword2, keyword3…"
               gr-datalist-input
               gr-datalist-input-on-cancel="ctrl.cancel()"
               gr-datalist-input-selector="ctrl.selectLastLabel($value)"
               gr-datalist-input-updater="ctrl.labelAppend($currentValue, $selectedValue)"
               gr-auto-focus
               required
               ng-model="ctrl.newLabel"
               ng-disabled="ctrl.adding" />
    </gr-datalist>

    <span class="gr-add-label__form__buttons">
        <button class="gr-add-label__form__buttons__button-cancel button-cancel" type="button" ng-click="ctrl.cancel()" title="Close">
            <gr-icon-label gr-icon="close"><span ng-hide="ctrl.grSmall">Cancel</span></gr-icon-label>
        </button>
        <button
            data-cy="save-new-label-button"
            class="gr-add-label__form__buttons__button-save button-save"
            type="submit"
            title="Save new label"
            ng-disabled="ctrl.adding">
            <gr-icon-label gr-icon="check">
                <span ng-hide="ctrl.grSmall">Save</span>
            </gr-icon-label>
        </button>
    </span>
</form>

