<span class="download"
      ng-if="!ctrl.isDeleted">
    <button type="button"
            class="download-button side-padded"
            title="Download images"
            ng-disabled="ctrl.downloading"
            ng-if="ctrl.multipleSelectedAllValid"
            ng-click="ctrl.download('downloadUri')">
        <gr-icon-label gr-icon="file_download" class="download-icon-label">
            Download<span ng-show="ctrl.downloading">ing</span>
        </gr-icon-label>
    </button>
    <button type="button"
            class="download-button side-padded"
            aria-label="Download images"
            ng-disabled="ctrl.downloading"
            gr-tooltip="Not all selected images are available to download"
            ng-if="ctrl.multipleSelectedSomeValid"
            ng-click="ctrl.download('downloadUri')">
        <gr-icon-label gr-icon="file_download" class="download-icon-label">
            Download<span ng-show="ctrl.downloading">ing</span>
        </gr-icon-label>
        <span class="download-warning"><gr-icon>warning</gr-icon></span>
    </button>
    <a ng-if="ctrl.singleImageSelected"
       href="{{ ctrl.firstImageUris.uris.downloadUri }}" download rel="noopener" target="_blank"
       aria-label="Download image"
       class="side-padded"
    >
        <gr-icon-label gr-icon="file_download" class="download-icon-label">
            Download
        </gr-icon-label>
    </a>
    <button ng-if="ctrl.singleImageSelected && ctrl.crop && ctrl.canDownloadCrop"
            class="drop-menu clickable inner-clickable button-right-side side-padded"
            aria-label="Download selected crop"
            ng-click="showExpandedDownload = !showExpandedDownload">
        <span>▾</span>
        <a ng-if="showExpandedDownload"
           class="drop-menu__items drop-menu__items--nopad"
           href="{{ ctrl.crop.downloadLink }}" download rel="noopener" target="_blank"
           aria-label="Download selected crop">
            <gr-icon-label gr-icon="file_download">Download selected crop</gr-icon-label>
        </a>
    </button>
    <span ng-if="ctrl.multipleSelectedNoneValid || ctrl.singleSelectedInvalid"
          aria-label="Cannot download">
        <gr-icon-label
            gr-icon="file_download"
            class="download-icon-label"
            gr-tooltip="Downloading non-free images requires a lease"
        >
            Cannot download
        </gr-icon-label>
    </span>
</span>
