<span class="download">
    <button type="button"
            title="Download images"
            ng:disabled="ctrl.downloading"
            ng:if="ctrl.images.size > 1"
            ng:click="ctrl.download()">
        <gr-icon-label gr-icon="file_download">
            Download<span ng:show="ctrl.downloading">ing</span>
        </gr-icon-label>
    </button>

    <a ng:if="ctrl.images.size == 1"
       href="{{ ctrl.firstImageUris.uris.secureUri }}" download target="_blank">
        <gr-icon-label gr-icon="file_download">Download</gr-icon-label>
    </a>

    <button class="drop-menu clickable inner-clickable side-padded button-right-side"
            ng:click="showExpandedDownload = !showExpandedDownload">
        <span>▾</span>
        <a ng:if="showExpandedDownload"
            ng:href="{{:: ctrl.lowResImageUri }}"
            class="drop-menu__items drop-menu__items--nopad"
            download
            target="_blank">
            <gr-icon-label gr-icon="file_download">Download low-res</gr-icon-label>
        </a>
    </button>
</span>
