gr-downloader .download {
    display: block;
}

button .download:hover {
  color: white;
}

.download-warning {
  color: yellow;
  padding-left: 5px;
}

.results-toolbar-item--static,
.results-toolbar-item .download-icon-label {
  padding-right: 0;
}
