<span class="download">
    <button type="button"
            title="Download images"
            ng-disabled="ctrl.downloading"
            ng-if="ctrl.imageCount() > 1"
            ng-click="ctrl.download('downloadUri')">
        <gr-icon-label gr-icon="file_download">
            Download<span ng-show="ctrl.downloading">ing</span>
        </gr-icon-label>
    </button>

    <a ng-if="ctrl.imageCount() == 1"
       href="{{ ctrl.firstImageUris.uris.downloadUri }}" download rel="noopener" target="_blank">
        <gr-icon-label gr-icon="file_download">Download</gr-icon-label>
    </a>

    <button ng-if="ctrl.imageCount() == 1 && !ctrl.canDownloadCrop"
            class="drop-menu clickable inner-clickable side-padded button-right-side"
            ng-click="showExpandedDownload = !showExpandedDownload">
        <span>▾</span>
        <a ng-if="showExpandedDownload"
            ng-href="{{:: ctrl.firstImageUris.uris.lowResDownloadUri }}"
            class="drop-menu__items drop-menu__items--nopad"
            download
            rel="noopener"
            target="_blank">
            <gr-icon-label gr-icon="file_download">Download low-res</gr-icon-label>
        </a>
    </button>


    <button ng-if="ctrl.imageCount() == 1 && ctrl.crop && ctrl.canDownloadCrop"
            class="drop-menu clickable inner-clickable side-padded button-right-side"
            ng-click="showExpandedDownload = !showExpandedDownload">
        <span>▾</span>
        <a ng-if="showExpandedDownload"
            class="drop-menu__items drop-menu__items--nopad"
            href="{{ ctrl.crop.downloadLink }}" download rel="noopener" target="_blank">
            <gr-icon-label gr-icon="file_download">Download selected crop</gr-icon-label>
        </a>
    </button>

    <button ng-if="ctrl.imageCount() > 1"
            class="drop-menu clickable inner-clickable side-padded button-right-side"
            ng-click="showExpandedDownload = !showExpandedDownload">
        <span>▾</span>
        <a ng-if="showExpandedDownload"
            ng-click="ctrl.download('lowResDownloadUri')"
            class="drop-menu__items drop-menu__items--nopad">
            <gr-icon-label gr-icon="file_download">Download low-res</gr-icon-label>
        </a>
    </button>

</span>
