# default to everyone in the Guardian's grid team
* @guardian/digital-cms

# for any changes to BBC specific logic they should have sign off too
# (we assume that it is BBC logic if it is under a package/directory
# called bbc)
bbc/ @RichardLe @wainaina @ochiengolanga
