.usage-rights-summary-table {
  border: 0;
  width: auto;
}

.usage-rights-summary-cell {
  padding-right: 8px;
  padding-left: 0;
  border: 0;
}

.usage-rights-container {
  display: flex;
  justify-content: flex-start;
}

.usage-rights-element {
  padding-right: 8px;
}

.supplier-PA_AutoIngest::before, .source-PA.credit-PA::before, .source-PNg.credit-pa::before {
  font-family: "bbc-images-agencies" !important;
  content: "\e902";
  color: #000000;
  background-color: #feca54;
  text-align: center;
  width: 35px;
  height: 20px;
  display: block;
  line-height: 20px;
}
