.filter__box {
    font-size: 14px;
    width: 248px;
    height: 14px;
    line-height: 14px;
    padding: 5px;
    border: 1px solid #999;
    cursor: pointer;
}

.filter__box--value {
    display: inline-block;
}

.filter__box--icon {
    float: right;
    width: 20px;
    text-align: center;
}

.filer__modal {
    position: absolute;
    background-color: #444;
    display: inline-block;
    padding: 10px;
}

.filter__modal__pikaday {
    padding: 5px 0px;
}

.filter__modal__pikaday__wrapper {
    width: 258px;
    display: inline-block;
}

.filter__modal__pikaday__container {
    width: 100%;
    height: 228px;
}

.filter__modal__buttons {
    float: right;
}

.filer__modal__preset__button,
.filter__modal__button__cancel,
.filter__modal__button__ok {
    /* !important to override .button and .button-shy */
    display: inline-block !important;
}

.filer__modal__preset__button {
    margin: 0px 5px;
}

.filer__modal__preset__button:first-child {
    margin-left: 0px;
}

.filer__modal__preset__button:last-child {
    margin-right: 0px;
}
