<div class="gu-date-range" ng:init="ctrl.showOverlay = false">
    <div class="gu-date-range__display" ng:click="ctrl.showOverlay = !ctrl.showOverlay">
        <div class="gu-date-range__display__icon gu-date-range__display__icon__calendar">
            &#128197;
        </div>

        <div class="gu-date-range__display--value">
            <span ng:show="ctrl.guDisplayStartDate !== ctrl.guAnyTimeText && !ctrl.guDisplayEndDate">from </span>
            {{ctrl.guDisplayStartDate}}
            <span ng-show="ctrl.guDisplayEndDate">to {{ctrl.guDisplayEndDate}}</span>
        </div>

        <div class="gu-date-range__display__icon gu-date-range__display__icon__toggle">
            <span ng:hide="ctrl.showOverlay">▸</span>
            <span ng:show="ctrl.showOverlay">▾</span>
        </div>
    </div>

    <div class="gu-date-range__overlay search__overlay" ng:show="ctrl.showOverlay">
        <h2 class="gu-date-range__overlay__title search__overlay__title">Presets</h2>
        <div class="gu-date-range__overlay__presets">
            <button class="gu-date-range__overlay__preset__button button" ng:repeat="presetDate in ctrl.guPresetDates" ng:click="setPresetDate(presetDate.value)">
                {{presetDate.label}}
            </button>
        </div>

        <div class="gu-date-range__overlay__pikaday">
            <h2 class="gu-date-range__overlay__title search__overlay__title">Custom Date Range</h2>
            <span class="gu-date-range__overlay__pikaday__wrapper">
                <h2 class="gu-date-range__overlay__title search__overlay__title">From</h2>
                <div class="gu-date-range__overlay__pikaday__container gu-date-range__overlay__pikaday--start"/>
                <button class="gu-date-range__overlay__pikaday__clear button-shy" ng:click="clearStart()">clear</button>
            </span>

            <span class="gu-date-range__overlay__pikaday__wrapper">
                <h2 class="gu-date-range__overlay__title search__overlay__title">To</h2>
                <div class="gu-date-range__overlay__pikaday__container gu-date-range__overlay__pikaday--end"/>
                <button class="gu-date-range__overlay__pikaday__clear button-shy" ng:click="clearEnd()">clear</button>
            </span>
        </div>

        <div class="gu-date-range__overlay__buttons">
            <button class="gu-date-range__overlay__button__cancel button-shy" ng:click="cancel()">Cancel</button>
            <button class="gu-date-range__overlay__button__ok button" ng:click="save()">OK</button>
        </div>
    </div>

    <input hidden type="text" class="gu-date-range__input__start--hidden" ng:model="pikaStartValue">
    <input hidden type="text" class="gu-date-range__input__end--hidden" ng:model="pikaEndValue">
</div>
