<div class="gu-date-range" ng:init="showOverlay = false">
    <div class="gu-date-range__display" ng:click="showOverlay = !showOverlay">
        <div class="gu-date-range__display--value">
            <span ng:show="startValue !== guAnyTimeText && !endValue">from </span>
            {{startValue}}
            <span ng-show="endValue">to {{endValue}}</span>
        </div>

        <div class="gu-date-range__display--toggle">
            <span ng:hide="showOverlay">▸</span>
            <span ng:show="showOverlay">▾</span>
        </div>
    </div>

    <div class="gu-date-range__overlay search__overlay" ng:show="showOverlay">
        <div class="gu-date-range__overlay__presets">
            <button class="gu-date-range__overlay__preset__button button" ng:repeat="presetDate in guPresetDates" ng:click="setPresetDate(presetDate.value)">
                {{presetDate.label}}
            </button>
        </div>

        <div class="gu-date-range__overlay__pikaday">
            <span class="gu-date-range__overlay__pikaday__wrapper">
                <div class="gu-date-range__overlay__pikaday__container" id="gu-date-range__overlay__pikaday--start"/>
                <button class="gu-date-range__overlay__pikaday__clear button-shy" ng:click="clearStart()">clear</button>
            </span>

            <span class="gu-date-range__overlay__pikaday__wrapper">
                <div class="gu-date-range__overlay__pikaday__container" id="gu-date-range__overlay__pikaday--end"/>
                <button class="gu-date-range__overlay__pikaday__clear button-shy" ng:click="clearEnd()">clear</button>
            </span>
        </div>

        <div class="gu-date-range__overlay__buttons">
            <button class="gu-date-range__overlay__button__cancel button-shy" ng:click="cancel()">Cancel</button>
            <button class="gu-date-range__overlay__button__ok button" ng:click="save()">OK</button>
        </div>
    </div>

    <input hidden type="text" id="gu-date-range__input__start--hidden">
    <input hidden type="text" id="gu-date-range__input__end--hidden">
</div>
