<div ng:init="showModal = false">
    <div class="filter__box" ng:click="showModal = !showModal">
        <div class="filter__box--value">
            from {{startValue}} to {{endValue}}
        </div>

        <div class="filter__box--icon">
            <span ng:hide="showModal">▸</span>
            <span ng:show="showModal">▾</span>
        </div>
    </div>

    <div class="filer__modal" ng:show="showModal">
        <div class="filer__modal__presets">
            <button class="filer__modal__preset__button button" ng:repeat="presetDate in guPresetDates" ng:click="setPresetDate(presetDate.value)">
                {{presetDate.label}}
            </button>
        </div>

        <div class="filter__modal__pikaday">
            <span class="filter__modal__pikaday__wrapper">
                <div class="filter__modal__pikaday__container" id="filter__modal__pikaday--start"/>
                <button class="filter__modal__pikaday__clear button-shy" ng:click="clearStart()">clear</button>
            </span>

            <span class="filter__modal__pikaday__wrapper">
                <div class="filter__modal__pikaday__container" id="filter__modal__pikaday--end"/>
                <button class="filter__modal__pikaday__clear button-shy" ng:click="clearEnd()">clear</button>
            </span>
        </div>

        <div class="filter__modal__buttons">
            <button class="filter__modal__button__cancel button-shy" ng:click="cancel()">Cancel</button>
            <button class="filter__modal__button__ok button" ng:click="save()">OK</button>
        </div>
    </div>

    <input hidden type="text" id="filter__input__start--hidden">
    <input hidden type="text" id="filter__input__end--hidden">
</div>
