node_modules
target
logs
dist
data
.idea*
.history
.ensime*
.tern-port
.DS_Store
*.py[cod]
.venv
kahuna/npm-debug.log
*.iml

.bloop
.metals
project/metals.sbt
/stress-test/test-files/

LOGS_LOCATION_IS_UNDEFINED
re_ingestion_stats.txt

dev/nginx-mappings.yml
dev/.localstack
dev/config/permissions.json

coverage/
