version: '3'
services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.5.2
    volumes:
      - "./elasticsearch/dev/elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml"
    ports:
      - "9200:9200"
  imgops:
    build:
      context: ./imgops/dev
    ports:
      - "9008:80"
    volumes:
      - "./imgops/dev/nginx.conf:/etc/nginx/nginx.conf"
  cerebro:
    image: lmenezes/cerebro
    ports:
      - "9090:9000"
  localstack:
    image: localstack/localstack:0.10.8
    ports:
      - "4567-4584:4567-4584"
      - "8081:8080"
    environment:
      - SERVICES=kinesis:4568,dynamodb:4569
      - DEFAULT_REGION=eu-west-1
      - KINESIS_ERROR_PROBABILITY=0.0

