<div class="fill-height flex-container" ng:class="{ 'flex-container--rtl': ctrl.position == 'right' }">
    <button class="inner-clickable clickable" type="button"
            ng:if="!ctrl.hidden" ng:click="ctrl.hidePanel()">
        <gr-icon-label gr-icon="{{ctrl.icon}}">Hide {{ctrl.name}} panel</gr-icon-label>
    </button>

    <button class="inner-clickable clickable" type="button"
            ng:if="ctrl.hidden" ng:click="ctrl.showPanel()">
        <gr-icon-label gr-icon="{{ctrl.icon}}">Show {{ctrl.name}} panel</gr-icon-label>
    </button>

    <div ng:if="!ctrl.hidden"
         ng:class="{
            'separator-left': ctrl.position  === 'left',
            'separator-right': ctrl.position === 'right'
         }">
        <button class="button-ico-square clickable" type="button"
                ng:if="!ctrl.locked"
                ng:click="ctrl.lockPanel()">
            <gr-icon>lock_open</gr-icon>
        </button>
        <button class="button-ico-square clickable" type="button"
                ng:if="ctrl.locked"
                ng:click="ctrl.unlockPanel()"
                ng:class="{'bg-light': ctrl.locked}">
            <gr-icon>lock</gr-icon>
        </button>
    </div>
</div>
