<div class="fill-height flex-container" ng:class="{ 'flex-container--rtl': ctrl.position == 'right' }">
    <div ng:class="{
        'separator-left': ctrl.position  === 'right',
        'separator-right': ctrl.position === 'left' }">
        <button class="button-ico-square clickable" type="button"
                ng:if="!ctrl.hidden && !ctrl.locked"
                ng:click="ctrl.lockPanel()">
            <gr-icon>lock_open</gr-icon>
        </button>
        <button class="button-ico-square clickable" type="button"
                ng:if="!ctrl.hidden && ctrl.locked"
                ng:click="ctrl.unlockPanel()">
            <gr-icon>lock</gr-icon>
        </button>
    </div>

    <button class="inner-clickable clickable" type="button"
            ng:if="!ctrl.hidden" ng:click="ctrl.hidePanel()">
        <gr-icon-label gr-icon="chrome_reader_mode">Hide {{ctrl.name}} panel</gr-icon-label>
    </button>

    <button class="inner-clickable clickable" type="button"
            ng:if="ctrl.hidden" ng:click="ctrl.showPanel()">
        <gr-icon-label gr-icon="chrome_reader_mode">Show {{ctrl.name}} panel</gr-icon-label>
    </button>
</div>
