<div class="fill-height flex-container" ng-class="{ 'flex-container--rtl': ctrl.position == 'right' }">
    <button class="inner-clickable clickable" type="button"
            ng-if="!ctrl.state.hidden" ng-click="ctrl.hidePanel()"
            ng-class="{'bg-light': !ctrl.state.hidden}"
            gr-track-click="{{ctrl.trackingName}}"
            gr-track-click-data="ctrl.trackingData('Hide panel')">
        <gr-icon-label gr-icon="chrome_reader_mode">Hide {{ctrl.name}} panel</gr-icon-label>
    </button>

    <button class="inner-clickable clickable" type="button"
            ng-if="ctrl.state.hidden"
            ng-click="ctrl.showPanel()"
            gr-track-click="{{ctrl.trackingName}}"
            gr-track-click-data="ctrl.trackingData('Show panel')">
        <gr-icon-label gr-icon="chrome_reader_mode">Show {{ctrl.name}} panel</gr-icon-label>
    </button>

    <div ng-if="!ctrl.state.hidden"
         ng-class="{
            'separator-left': ctrl.position  === 'left',
            'separator-right': ctrl.position === 'right'
         }">
        <button class="button-ico-square clickable" type="button"
                ng-if="!ctrl.state.locked"
                ng-click="ctrl.lockPanel()"
                gr-track-click="{{ctrl.trackingName}}"
                gr-track-click-data="ctrl.trackingData('Lock panel')">
            <gr-icon>lock_open</gr-icon>
        </button>
        <button class="button-ico-square clickable" type="button"
                ng-if="ctrl.state.locked"
                ng-click="ctrl.unlockPanel()"
                ng-class="{'bg-light': ctrl.state.locked}"
                gr-track-click="{{ctrl.trackingName}}"
                gr-track-click-data="ctrl.trackingData('Unlock panel')">
            <gr-icon>lock</gr-icon>
        </button>
    </div>
</div>
