/** =============================================

_COLOURS.SCSS - The *only* place for colours on the grid

============================================= **/


// Greys

$grey-1: #333333;
$grey-2: #666666;
$grey-3: #888888;
$grey-4: #999999;


// Text
$main-text: #CCCCCC;

$highlight: #00ADEE;

// States
$invalid: #ED5935;
$confirm: #228B22;
$warning: #FF0000;

// Common
$white: #FFFFFF;
