/** =============================================

_SPACING.SCSS - scale for spacing - Can also be used for sizing

============================================= **/

$baseline: 10px;
$largeBaseline: $baseline * 2;
$xLargeBaseline: $baseline * 4;
$smallBaseline: $baseline / 2;
