/** =============================================

_TYPOGRAPHY.SCSS - Type styles and sizes

============================================= **/

$baseFontFamily: "Guardian Agate Sans Web", Georgia;
$plainFontFamily: Helvetica, Arial, sans-serif;

// Font size Hierarchy (based on body font size of 62.5% or 10px)

$smallFontSize: 1.4rem;
$baseFontSize:  1.6rem;
$titleFontSize: 2.5rem;
