<nav class="user-actions drop-menu"
     aria-label="Secondary"
     ng-keydown="isShiftKeyDown = $event.shiftKey"
     ng-keyup="isShiftKeyDown = $event.shiftKey"
>
    <button class="drop-menu__button"
            type="button"
            ng-click="showUserActions = !showUserActions"
            aria-label="Secondary navigation menu">
        <gr-icon>more_vert</gr-icon>
    </button>
    <div class="drop-menu__items drop-menu__items--right" ng-if="showUserActions">
        <ul class="drop-menu__items__separator">
            <li><a class="drop-menu__items__quotas" href="/quotas" rel="noopener" target="_blank">Quotas</a></li>
            <li ng-repeat="additionalLink in ctrl.additionalLinks">
                <a ng-href="{{additionalLink.url}}"
                   rel="noopener"
                   target="{{additionalLink.target}}">
                    {{additionalLink.name}}
                </a>
            </li>
            <li><a class="drop-menu__items__feedback" ng-href="{{ctrl.feedbackFormLink}}" rel="noopener" target="_blank">Feedback</a></li>
            <li>
                <div>
                    <label>Blur &lsquo;Potentially Graphic&rsquo; images <input type="checkbox" ng-model="ctrl.shouldBlurGraphicImages" ng-change="ctrl.syncShouldBlurGraphicImages()"></label>
                </div>
                <a ng-if="ctrl.hasCustomPotentiallyGraphicScript || isShiftKeyDown" ng-click="ctrl.editPotentiallyGraphicScript()">
                    Adjust extra &lsquo;Potentially Graphic&rsquo; script
                </a>
            </li>
        </ul>
        <ul>
            <li><a class="drop-menu__items__logout" ng-href="{{ctrl.logoutUri}}" target="_self">Logout</a></li>
        </ul>
    </div>
    <feature-switch-panel>
    </feature-switch-panel>
</nav>
