domain.root={{domain_root}}
aws.id={{AwsId}}
aws.secret={{AwsSecret}}
auth.keystore.bucket={{KeyBucket}}
s3.collections.bucket={{CollectionsBucket}}
dynamo.table.imageCollections={{ImageCollectionsDynamoTable}}

