domain.root={{domain_root}}
aws.id={{AwsId}}
aws.secret={{AwsSecret}}
auth.keystore.bucket={{KeyBucket}}
sns.topic.arn={{SnsTopicArn}}
dynamo.table.edits={{EditsDynamoTable}}
indexed.images.sqs.queue.url={{IndexedImageMetadataQueueUrl}}
