[Unit]
Description=Kahuna

[Service]
User=media-service
WorkingDirectory=/home/media-service
ExecStart=/home/media-service/bin/kahuna
StandardOutput=syslog
