gr-top-bar {
    display: block;
    height: 50px; /* faking we're in the flow */
    position: relative;
    /* We do this as it should always be over `results-toolbar` */
    z-index: 31;
}

gr-top-bar-nav {
    display: block;
    flex-grow: 1;
    text-align: left;
}

gr-top-bar-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}


.gr-top-bar-inner {
    background-color: #333;
    padding-right: 10px;
    font-family: "Guardian Agate Sans Web", Helvetica, Arial;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #565656;
    font-size: 1.4rem;
    display: flex;
    box-sizing: border-box;
}

.gr-top-bar-inner--fixed {
    position: fixed;
}
