gr-top-bar {
    display: block;
    height: 50px; /* faking we're in the flow */
    position: relative;
    /* We do this as it should always be over `results-toolbar` */
    z-index: 30;
}

gr-top-bar-nav {
    display: block;
    flex-grow: 1;
    text-align: left;
}

gr-top-bar-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    min-width: 278px;
}


.gr-top-bar-inner {
    background-color: #333;
    padding-right: 10px;
    font-family: "Open Sans", sans-serif;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #565656;
    font-size: 1.4rem;
    display: flex;
    box-sizing: border-box;
}

.gr-top-bar-inner--fixed {
    position: fixed;
}

gr-top-bar gr-icon-label {
    display: inline-flex;
    align-items: center;
}

gr-top-bar gr-icon-label gr-icon, gr-top-bar, .search__modifier-toggle gr-icon {
    margin-right: 4px;
}
