gr-top-bar {
  display: block;
  height: 50px; /* faking we're in the flow */
  position: relative;
  /* We do this as it should always be over `results-toolbar` */
  z-index: 31;
  font-size: 1.4rem;
  font-family: "Guardian Agate Sans Web", Helvetica, Arial, sans-serif;
}

gr-top-bar-row {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #565656;
  box-sizing: border-box;
}

gr-top-bar-row .gr-top-bar-row-inner {
  height: 50px;
  width: 100%;
  display: flex;
  padding-right: 10px;
}

gr-top-bar-row .gr-top-bar-row--small {
  height: 25px;
}

gr-top-bar-nav {
    display: block;
    flex-grow: 1;
    text-align: left;
}

gr-top-bar-actions {
    display: flex;
    min-width: 100px;
    flex-direction: row;
    justify-content: flex-end;
}


.gr-top-bar-inner {
  background-color: #333;
  width: 100%;
  min-height: 50px;
  position: fixed;
}
