table, td, th {
  border: 1px solid black;
  margin: 8px;
}

td, th {
  padding: 10px 20px;
}

.hidden {
  display: none;
}

.imageId {
  display: inline;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
}

main {
  margin: 0 10px;
}

.sticky {
  position: sticky;
  background: white;
}

.headingSection {
  padding: 8px;
  top: 0;
}

.headingRow {
  top: 190px;
}

nav {
  padding: 12px;
  border-bottom: 1px solid black;
  width: 100%;
}
