table, td, th {
  border: 1px solid black;
  margin: 8px;
}

td, th {
  padding: 10px 20px;
}

.hidden {
  display: none;
}

.imageId {
  display: inline;
}

body {
  margin: 0;
}

.sticky {
  position: sticky;
  background: white;
}

.headingSection {
  padding: 8px;
  top: 0;
}

.headingRow {
  top: 166px;
}
