.section__disabled {
    opacity: 0.4;
}

.edit_metadata__warning {
    color: orange;
    font-size: 13px;
}

.undelete_button {
    float: right;
    padding: 0px;
}

.deleted_image_warning{
  margin-top: 10px
}

.result-editor__field-container__collections-preview {
  border: 1px solid #ffbc01;
}
