<div class="labeller">
    <ul class="labels"
        ng-if="ctrl.labels.data.length > 0">
        <li class="label"
            ng-repeat="label in ctrl.labels.data">

            <span ng-if="ctrl.disabled" class="label__value label__value--compact">{{label.data}}</span>

            <a class="label__value label__value--compact label__link"
               ng-if="!ctrl.disabled"
               ui-sref="search.results({query: (label.data | queryLabelFilter)})">
                {{label.data}}
            </a>
        </li>
    </ul>
</div>
