<div class="labeller">
    <span ng-if="ctrl.withBatch" class="labeller__apply-all">
        <button
            title="Apply these labels to all your current uploads"
            ng-if="!ctrl.confirmDelete"
            ng-click="ctrl.batchApplyLabels()"
        >⇔</button>

        <button title="Remove ALL labels"
                class="button button--confirm-delete"
                ng-if="ctrl.confirmDelete"
                ng-click="ctrl.batchRemoveLabels()">
            <gr-icon>warning</gr-icon>Remove ALL labels in job?
        </button>
    </span>

    <ul class="labels"
        ng-if="ctrl.labels.data.length > 0">
        <li class="label"
            ng-repeat="label in ctrl.labels.data"
            ng-class="{'label--removing': ctrl.labelsBeingRemoved.has(label)}">
            <a ui-sref="search.results({query: (label.data | queryLabelFilter)})"
               class="label__value label__link">{{label.data}}</a>

            <button data-cy="it-remove-label-button"
                    class="label__remove"
                    title="Remove label"
                    ng-click="ctrl.removeLabel(label.data)">
                <gr-icon>close</gr-icon>
            </button>
        </li>
    </ul>
</div>
