<li class="element"
    ng-repeat="element in ctrl.listWithOccurrences"
    ng-class="{'element--partial': element.count < ctrl.images.size}">
    <button ng-if="ctrl.isEditable && element.count < ctrl.images.size"
            class="element__add"
            title="Apply {{ctrl.elementName}} to all"
            ng-click="ctrl.addElements([element.data])">
        <gr-icon>library_add</gr-icon>
    </button>
    <a ui-sref="search.results({query: (element.data | {{ctrl.queryFilter}}), nonFree: ctrl.srefNonfree()})" class="element__value"
       ng-click="ctrl.searchWithModifiers($event, ctrl.elementName, element.data)"
       aria-label="Search images by {{element.data}} {{ctrl.elementName}}"
       ng-class="{'element__right-bit': !ctrl.isEditable}"
    >
        {{element.data}}
    </a>
    <button class="element__right-bit"
            ng-if="ctrl.isEditable"
            title="Remove {{ctrl.elementName}}{{element.count > 1 ? ' from all' : ''}}"
            ng-click="ctrl.removeElement(element.data)" aria-label="Remove {{ctrl.elementName}}">
        <gr-icon>close</gr-icon>
    </button>
</li>
