<div class="gr-search-wrapper" ng-controller="SearchQueryCtrl as searchQuery">

    <permissions-filter class="permissions-filter" props="searchQuery.permissionsProps"></permissions-filter>

    <div class="search__modifier-container">
        <ul class="search__modifier search__filter" ng-class="filtersShown ? 'search__filter--show' : 'search__filter--hide'">
            <li class="search__modifier-item">
                <gu-date-range class="search__date"
                               gu:start-date="searchQuery.dateFilter.since"
                               gu:end-date="searchQuery.dateFilter.until"
                               gu:preset-dates="searchQuery.sinceOptions"
                               gu:selected-field="searchQuery.dateFilter.field"
                               gu:fields="searchQuery.filterDateFieldsOptions"
                               gu:show-extras="true"
                               gu:first-day="1">
                </gu-date-range>
            </li>
        </ul>
    </div>

    <div class="search__modifier-container" style="margin-left: 10px;position: relative;">
        <a ng-if="ctrl.canUpload"
           ui-sref="upload"
           gr-track-click="Your uploads button"
           gr-track-click-data="{'Location': 'Search navigation'}"
           class="top-bar-item clickable side-padded"
           title="my uploads"
           aria-label="My uploads">
            <gr-icon-label gr-icon="photo_library">My uploads</gr-icon-label>
        </a>
    </div>

    <sort-control class="sort-control" props="searchQuery.sortProps"></sort-control>

</div>
