@import helper._
@import model.ContentWithImages
@import com.gu.mediaservice.model.Crop
@import com.gu.mediaservice.model.usage.Usage
@import com.gu.mediaservice.model.ImageStatusRecord
@import model.ImageTakedown
@import model.Failed
@(imageId: Option[String], capiResults: List[ContentWithImages], crops: List[Crop], usages: List[Usage],  softDeleteMetadata: Option[ImageStatusRecord], jobStatus: Option[ImageTakedown])(implicit request: RequestHeader)
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Image Takedown</title>
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")" />
    </head>
    <body>
        <main>
        <h1>Image Takedown</h1>
        @request.flash.get("response").map { message =>
            <div class="flash-message flash-message--success" role="status">
                @message
            </div>
        }

        @if(imageId.isEmpty) {
            <h2>Query CAPI for Content Using Image</h2>
            @form(routes.ImageTakedownController.takedownImagePage) {
                @CSRF.formField
                <label for="imageId">Image ID:</label>
                <input type="text" id="imageId" name="imageId">
                <input type="submit" value="Submit">
                }
        }else {
            <p>Found the following information for @{imageId.get}</p>
            @if(capiResults.isEmpty) {
                <p>No content found in CAPI for image ID</p>
            } else {
                <p>Found @capiResults.size content items in CAPI for image ID</p>
                <ul>
                @for(capiResult <- capiResults) {
                    <li><a href="@{capiResult.webUrl}">@{capiResult.webTitle}</a></li>
                }
                </ul>
                <p>Found @{capiResults.flatMap(r => r.imageIds).size} urls </p>
                @for(capiResult <- capiResults) {
                    @for(image <- capiResult.imageIds) {
                        <ul>
                            <li>@{
                                image
                            }</li>
                        </ul>
                    }
                }
            }
            <p>Found @{crops.size} crops and @{usages.size} usages</p>
            @for(usage <- usages) {
                <li>@{usage.platform}: @{usage.status}</li>
                @for(reference <- usage.references) {
                    <ul>
                        <li>@{reference.`type`}: <a href=@{reference.uri}>@{reference.name}</a></li>
                    </ul>
                }
            }
            <br>
            @for(softDeleteMetadata <- softDeleteMetadata) {
                <p>Image was soft deleted on @{softDeleteMetadata.deleteTime} by @{softDeleteMetadata.deletedBy}</p>
            }

            @form(routes.ImageTakedownController.imageTakedown(imageId.get)) {
                @CSRF.formField
                @if(capiResults.isEmpty) {
                    <button type="submit">Initiate Takedown</button>
                } else {
                    <button type="submit" disabled title="Content items must be removed from CAPI">Initiate Takedown</button>
                }
            }

            @for(imageTakedown <- jobStatus) {
                <table>
                    <tr>
                        <td>@{imageTakedown.cropDeletion.name}: @{imageTakedown.cropDeletion.status}</td><td>
                             @if(imageTakedown.cropDeletion.status == Failed) {
                                 @form(routes.ImageTakedownController.retry(imageId.get, imageTakedown.cropDeletion.id)) {
                                     @CSRF.formField
                                     <button type="submit">Retry</button>

                                 }
                             }

                        </td>
                    </tr>
                    <tr>
                        <td>@{imageTakedown.usageDeletion.name}: @{imageTakedown.usageDeletion.status} </td>
                        <td>
                        @if(imageTakedown.usageDeletion.status == Failed) {
                            @form(routes.ImageTakedownController.retry(imageId.get, imageTakedown.usageDeletion.id)) {
                                @CSRF.formField
                                <button type="submit">Retry</button>

                            }
                        }

                        </td>
                    </tr>
                    <tr>
                        <td>@{imageTakedown.gridDeletion.name}: @{imageTakedown.gridDeletion.status}</td>
                        <td>
                        @if(imageTakedown.gridDeletion.status == Failed) {
                            @form(routes.ImageTakedownController.retry(imageId.get, imageTakedown.gridDeletion.id)) {
                                @CSRF.formField
                                <button type="submit">Retry</button>

                            }
                        }

                        </td>
                    </tr>
                    <tr>
                        <td>@{imageTakedown.fastlyPurge.name}: @{imageTakedown.fastlyPurge.status}</td>
                        <td>
                        @if(imageTakedown.fastlyPurge.status == Failed) {
                            @form(routes.ImageTakedownController.retry(imageId.get, imageTakedown.fastlyPurge.id)) {
                                @CSRF.formField
                                <button type="submit">Retry</button>

                            }
                        }
                        </td>
                    </tr>
                </table>

            }
        }
        </main>

        <script>

            window.setTimeout(function () {
                window.location.reload();
            }, 1000);
        </script>

    </body>
</html>
