<section ng:if="! ctrl.editInline">
    <button class="image-info__edit"
            ng:click="albumEditForm.$show()"
            ng:hide="albumEditForm.$visible">
        ✎
    </button>

    <span editable-text="ctrl.albumData.title"
          ng:hide="albumEditForm.$visible"
          e:form="albumEditForm"
          e:uib-:typeahead="album for album in ctrl.search($viewValue) | limitTo:8"
          e:ng-class="{'image-info__editor--error': $error,
                       'image-info__editor--saving': albumEditForm.$waiting,
                       'text-input': true}"
          onbeforesave="ctrl.save($data)">
        <span ng:if="! ctrl.hasAlbumData">
            Unknown (click ✎ to add)
        </span>

        <span ng:if="ctrl.hasAlbumData">
            <span ng:if="ctrl.hasSingleAlbum">
                {{ctrl.albumData.title}}
            </span>

            <span ng:if="!ctrl.hasSingleAlbum">
                Multiple albums (click ✎ to edit <strong>all</strong>)
            </span>
        </span>
    </span>
</section>

<section ng:if="ctrl.editInline" class="edit-inline flex-container">
    <gr-datalist class="job-info--editor__input"
                 gr:search="ctrl.search(q)">
        <input type="text"
               name="album"
               class="text-input job-info--credit full-width"
               gr:datalist-input
               ng:model="ctrl.albumData.title"
               ng:change="ctrl.save(ctrl.albumData.title)"
               ng:model-options="{ updateOn: 'gr:datalist:update blur' }" />
    </gr-datalist>

    <button type="button"
            class="job-editor__apply-to-all"
            title="Apply this album to all your current uploads"
            ng:if="ctrl.withBatch"
            ng:click="ctrl.batchApply(ctrl.albumData.title)"
    >⇔</button>
</section>
