gr-nodes, gr-node,
.node__info:hover .node__action {
    display: block;
}

.node__action {
    display: none;
}

.node__children {
    padding-left: 10px;
    display: block;
}

.node__marker {
    position: absolute;
    background: #444;
    width: 5px;
    height: 34px;
    left: 0;
}

.node__info {
    padding-left: 210px;
    margin-left: -200px;
    box-sizing: border-box;
}

.node__info:hover,
.collection-drop-drag-over {
    background-color: #666;
}

.node__info--selected {
    background-color: #333;
    color: white;
}

.node__name {
    padding: 3px;
    text-align: left;
    line-height: 1.5;
}

.node__toggler,
.node__spacer,
.node__action {
    padding-left: 5px;
    padding-right: 5px;
    z-index: 2;
}

.node__add-child {
    margin-left: 50px;
    margin-right: 10px;
}
.node__add-child-input {
    width: 100%;
}
.node__add-child-buttons {
    text-align: right;
}

.collections-panel-heading {
    padding: 5px 10px;
    border-bottom: 1px solid #565656;
    position: fixed;
    width: 230px;
    background-color: #444;
    margin-top: -35px;
    z-index: 10;
}

.gr-panel__content--hidden .collections-panel-heading {
    /*returns to default so it will hide with panel*/
    position: static;
}

gr-collection-tree > :first-child {
    /*to sit below the fixed heading*/
    margin-top: 35px;
}

gr-collection-tree {
    font-size: 1.3rem;
}
