<div ng:init="node = ctrl.node">
    <div class="node__info flex-container"
         ng:class="{'node__info--selected' : ctrl.isSelected}"
         ng:init="showChildren = true"
         gr:drop-into-collection="node.data.content.path">
        <div class="node__marker"></div>

        <div class="node__spacer" ng:if="node.data.children.length === 0">
            <gr-icon></gr-icon>
        </div>

        <button type="button"
                class="node__toggler clickable"
                ng:click="showChildren = !showChildren"
                ng:show="node.data.children.length > 0">

            <gr-icon ng:show="showChildren">expand_more</gr-icon>
            <gr-icon ng:hide="showChildren">chevron_right</gr-icon>
        </button>

        <a class="node__name flex-spacer"
           ui:sref="search.results({query: ctrl.getCollectionQuery(node.data.content.pathId)})">
            {{node.data.content.description}}
        </a>


        <button class="node__action clickable" type="button"
                ng:if="ctrl.deletable && ctrl.editing"
                ng:click="ctrl.remove()"
                gr:tooltip="Delete this collection">
            <gr-icon-label gr-icon="delete"></gr-icon-label>
        </button>

        <button class="node__action clickable"
                type="button"
                ng:if="ctrl.editing"
                ng:click="$parent.active = !$parent.active"
                gr:tooltip="Add a new sub-collection">
            <gr-icon>add_box</gr-icon>
        </button>

        <button class="node__action clickable"
                ng:if="!ctrl.editing && ctrl.hasImagesSelected && !ctrl.saving"
                ng:click="ctrl.addImagesToCollection()"
                gr:tooltip="Add selected images to this collection">
            <gr-icon>add_to_photos</gr-icon>
        </button>
        <span ng:if="ctrl.saving">Saving…</span>
    </div>

    <form class="node__add-child" ng:if="active" ng:submit="ctrl.addChild(childName);">
        <input class="node__add-child-input" type="text" required ng:model="childName"
               placeholder="e.g. summer2015…" />

        <div class="error error--small" ng:if="formError">{{formError}}</div>

        <div class="node__add-child-buttons">
            <button type="submit" class="button-save" title="Save">
                <gr-icon-label gr-icon="check"></gr-icon-label>
            </button>
            <button type="button" class="button-cancel" ng:click="clearForm()" title="Cancel">
                <gr-icon-label gr-icon="close"></gr-icon-label>
            </button>
        </div>

    </form>

    <div class="node__children"></div>
</div>
