gr-nodes, gr-node {
    display: block;
}

#toggle-collections-button {
    /* This is so we can target it with a JS as
       angular uses !important with ng:show */
    /*display: none;*/
}

.node__action {
    display: none;
}

.node__children {
    padding-left: 10px;
}

.node__info:hover .node__marker,
.collection-drop--drag-over .node__marker {
    display: block;
}

.node__info:hover .node__action {
    display: block;
}

.node__marker {
    position: absolute;
    background: #00adee;
    width: 3px;
    height: 44px;
    left: 0;
    display: none;
}

.node__info {
    padding-left: 210px;
    margin-left: -200px;
    box-sizing: border-box;
}
.node__info:hover,
.collection-drop--drag-over {
    background-color: #333;
}

.node__name {
    padding: 10px;
}

.node__toggler,
.node__spacer,
.node__action {
    padding-left: 10px;
    padding-right: 10px;
    z-index: 2;
}

/* Annoyingly I can't find a way to do this with variables */
.collection-drop {
    -webkit-transition: background-color .25s linear;
    transition: background-color .25s linear;
}
.collection-drop--saving {
    opacity: 0.5;
}
.collection-drop--complete {
    background: #00adee !important;
}
