.panel__left {
    float: left;
    position: fixed;
    bottom: 0;
    z-index: 1;
    transition: left 0.1s;
}

.panel__left--hidden {
    left: -290px;
    transition: left 0.1s;
}

/*to indent the children collections and also background-color the whole column width*/
.tree-node {
    box-sizing: border-box;
    padding-left: 210px;
    margin-left: -190px;
}

.tree-node__arrow {
    margin-left: -18px;
}

.tree-node--leaf:hover {
    background-color: #404040;
}

.tree-node--leaf:hover .node__edits {
    display: block;
}

.node__edits {
    float: right;
    display: none;
}

.node__edits:hover {
    color: white;
}
