.ure {
    width: 100%;
    box-sizing: border-box;
}

.ure__cost {
    display: inline-block;
    margin-left: 20px;
}

.ure__cost-selector {
    margin-left: 20px;
}

.ure__description {
    margin: 10px 0;
}

.ure__restrictions {
    display: block;
}

.ure__restrictions-text {
    width: 100%;
}

.ure__submit {
    display: flex;
}

.ure__remove {
    margin-left: 5px;
}

.ure__error {
    margin-left: 10px;
    background: red;
    padding: 2px 10px;
    color: white;
}
