<form class="search">
    <span class="search-query">
            <gr-icon class="search-query__magnifier search-query__icon">search</gr-icon>
            <gr-structured-query class="search-query__query"
                                 ng-model="searchQuery.filter.query">
            </gr-structured-query>
            <button class="search-query__icon search-query__clear clear-button"
                    type="button"
                    title="Clear query"
                    ng-show="searchQuery.filter.query"
                    ng-click="searchQuery.resetQuery()"
                    aria-label="Clear search">
                <gr-icon>cancel</gr-icon>
            </button>
    </span>

    <button class="search__advanced-toggle"
            type="button"
            ng-click="searchInfo = !searchInfo"
            gr-tooltip="Display advanced search information"
            aria-label="Display advanced search information">
        <gr-icon>info_outline</gr-icon>
    </button>
</form>

<gr-syntax ng-if="searchInfo"></gr-syntax>
