<form class="file-uploader top-bar__control">
    <div ui:event-share="click"
         ui:event-share-thief=".file-uploader__select-files"
         ui:event-share-victim=".file-uploader__file">
        <!-- you cannot bind ng:model="files" nor use ng:change:
        https://github.com/angular/angular.js/issues/1375 -->
        <input class="file-uploader__file"
               name="files" type="file"
               accept="image/jpg,image/jpeg" multiple
               ui:file ui:file-change="fileUploader.uploadFiles" />

        <button class="button file-uploader__select-files"
                name="button" type="button"
                ng:disabled="fileUploader.loading">
            upload<span ng:show="fileUploader.loading">ing…</span>
        </button>
    </div>
</form>
