<div class="image-details">

    <div class="panel__top"
        ng-if="ctrl.selectedImages.size === 0">
        No images selected
    </div>

    <div ng-if="ctrl.selectedImages.size > 0"
         class="panel__top">
        <ul class="costs">
            <li ng-repeat="cost in ctrl.selectedCosts | orderBy:'data'">
                <div ng-switch="cost.data">
                    <div ng-switch-when="free"
                         class="image-notice image-info__group status cost cost--free">
                        {{cost.count}} free
                    </div>

                    <div ng-switch-when="no_rights"
                         class="image-notice image-info__group status cost cost--pay">
                        {{cost.count}} no rights
                    </div>

                    <div ng-switch-when="pay"
                         class="image-notice image-info__group status cost cost--pay">
                        {{cost.count}} paid
                    </div>

                    <div ng-switch-when="overquota"
                         class="image-notice image-info__group status cost cost--pay">
                        {{cost.count}} over quota
                    </div>

                    <div ng-switch-when="conditional"
                         class="image-notice image-info__group cost cost--conditional">
                        {{cost.count}} restricted
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div ng-if="ctrl.selectedImages.size > 0">
        <gr-image-metadata 
            gr-images="ctrl.selectedImages"
            gr-user-can-edit="ctrl.userCanEdit"
        ></gr-image-metadata>
    </div>
</div>
