<configuration>

  <appender name="STDOUT" class="io.symphonia.lambda.logging.DefaultConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LogstashEncoder">
      <pattern>%m%n</pattern>
    </encoder>
  </appender>

  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>

</configuration>
