file-prompt {
    display: block;
    background: #444;
    padding: 10px;
}

file-prompt file-uploader {
    display: inline-block;
    padding: 0 5px;
}

file-prompt file-uploader .file-uploader__select-files {
    margin-top: 0;
}

file-prompt .message {
    text-align: center;
}
