@import helper._
@import com.gu.mediaservice.lib.elasticsearch.MigrationStatus
@import com.gu.mediaservice.lib.elasticsearch.Running

@import com.gu.mediaservice.lib.elasticsearch.InProgress
@import com.gu.mediaservice.lib.elasticsearch.Paused
@import com.gu.mediaservice.lib.elasticsearch.NotRunning
@(currentAlias: String,
  currentIndex: String,
  currentIndexCount: String,
  migrationAlias: String,
  migrationIndexCount: String,
  migrationStatus: MigrationStatus
)

@migrationIndexCell = {
    @migrationStatus match {
        case running: Running => {
            @running.migrationIndexName
            @form(action = routes.ThrallController.migrateSingleImage){
                <label for="id">Image ID:</label>
                <input type="text" id="id" name="id">
                <input type="submit" value="Migrate single image">
            }
        }
        case NotRunning => {
            @form(routes.ThrallController.startMigration) {
                <input type="submit" value="Start migration">
            }
        }
        case _ => {}
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thrall Control Panel</title>
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")" />
</head>
<body>
    <h1>Current elasticsearch indices</h1>
    <table>
        <tr>
            <th>Alias</th>
            <th>Index</th>
            <th>Image count</th>
        </tr>
        <tr>
            <td>@currentAlias</td>
            <td>@currentIndex</td>
            <td>@currentIndexCount</td>
        </tr>
        <tr>
            <td>@migrationAlias</td>
            <td>@migrationIndexCell</td>
            <td>
                @migrationIndexCount
                @migrationStatus match {
                    case Paused(_) => {
                        @form(routes.ThrallController.resumeMigration) {
                            PAUSED
                            <input type="submit" value="Resume">
                        }
                    }
                    case InProgress(_) => {
                        @form(routes.ThrallController.pauseMigration) {
                            <input type="submit" value="Pause">
                        }
                    }
                    case _ => {}
                }
            </td>
        </tr>
    </table>

    <h2>MigrationStatus (from the MigrationStatusProvider, a.k.a. 'migration status refresher')</h2>
    <pre>@migrationStatus</pre>
    <em>Note that the above represents the value at the point this page was loaded.</em>

    @if(migrationStatus.isInstanceOf[Running]) {
        <p><a href="@routes.ThrallController.migrationFailuresOverview()">View images that have failed to migrate and retry.</a></p>
    }
</body>
</html>
