@import lib.FailedMigrationSummary

@import views.html.helper.form
@(
    failures: FailedMigrationSummary,
    apiBaseUrl: String,
    uiBaseUrl: String,
    filter: String,
    page: Int,
)

@navigation = {
    @if(page > 1) {
        <a href="@routes.ThrallController.migrationFailures(filter, Some(page - 1))">Previous page</a>
    }
    <a href="@routes.ThrallController.migrationFailures(filter, Some(page + 1))">Next page</a>
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Migration Failures - Page @(page) - @filter</title>
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")" />
</head>
<body>
    <div style="position: sticky; background: white; top: 8px;">
        <a href="@routes.ThrallController.migrationFailuresOverview()">&lt; back to Migration Failures Overview</a>
        <h1>
            Migration Failures - Page @(page) - <code>@filter</code>
        </h1>
        <p>@failures.totalFailed images failed with the above message!</p>
        @navigation
    </div>

    <table>
        <tr style="position: sticky; background: white; top: 158px;">
            <th>Image ID</th>
            <th>Click to reattempt migration</th>
        </tr>
        @for(failure <- failures.details) {
            <tr>
                <td><pre class="imageId">@failure.imageId</pre>
                    <a href="@uiBaseUrl/images/@failure.imageId" target="_blank">[Grid]</a>
                    <a href="@apiBaseUrl/images/@failure.imageId" target="_blank">[API]</a>
                </td>
                <td>@form(action = routes.ThrallController.migrateSingleImage){
                    <label for="id" class="hidden">Image ID:</label>
                    <input type="text" id="id" value="@failure.imageId" name="id" class="hidden">
                    <input type="submit" value="Reattempt migration">
                }</td>
            </tr>
        }
    </table>
    @navigation
</body>
</html>
