@import helper._

@(imageId: String, diff: String)(implicit request: RequestHeader)

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Previewing projection of @imageId</title>
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")" />
    </head>
    <body>
        <nav>
            <span>
                <a href="@routes.ThrallController.index">&lt; back to Thrall Dashboard</a>
            </span>
        </nav>
        <main>
            <h1>Upsert image via projection</h1>
            <p>This is a JSON diff describing what will happen if you run this upsert via projection:</p>
            <pre>@diff</pre>
            <h2>Happy to proceed?</h2>
            @form(routes.ThrallController.upsertFromProjectionSingleImage) {
                <input type="hidden" id="id" name="id" value="@imageId">
                <input type="submit" value="Proceed">
            }
            <a href="https://www.theguardian.com/" referrerpolicy="no-referrer"><button type="button">No! Get me out of here!</button></a>
        </main>
    </body>
</html>
