.syndication-status--sent {
    color: green;
}

.syndication-status--queued {
    color: orange;
}

.syndication-status--blocked {
    color: red;
}

.syndication-status--review {
    color: white;
}
