<div
    ng-if="ctrl.showInvalidReasons"
    class="image-notice image-info__group validity validity--invalid validity--point-up"
    ng-class="{'validity--invalid': ctrl.isStrongWarning, 'validity--warning': !ctrl.isStrongWarning}"
>
    <strong ng-if="!ctrl.isOverridden && !ctrl.isDeleted">{{ctrl.unusableTextHeader}}
        <gr-icon title="This image cannot be used in content, a lease is required.">help</gr-icon>
    </strong>
    <strong ng-if="ctrl.isOverridden && !ctrl.isDeleted">
        {{ctrl.warningTextHeader}}
        <gr-icon title="This image cannot normally be used in content - either this image has been given a valid lease or you are a lease granter.">help</gr-icon>
    </strong>

    <strong ng-if="ctrl.isDeleted">
        {{ctrl.unusableTextHeader}}
        <gr-icon title="This image cannot normally be used in content - image has been deleted">help</gr-icon>
    </strong>
    <ul ng-if="!ctrl.isDeleted">
        <li ng-repeat="(key, reason) in ctrl.invalidReasons">
            {{reason}}
        </li>
        <li ng-if="ctrl.hasDenySyndication">
            {{ctrl.denySyndicationTextHeader}}
            <gr-icon title="This image cannot normally be used in content - either this image has been given a valid lease or you are a lease granter.">help</gr-icon>
        </li>
    </ul>
</div>

<div
    ng-if="ctrl.hasDenySyndication && !ctrl.showInvalidReasons"
    class="image-notice image-info__group validity validity--invalid validity--point-up"
    ng-class="{'validity--invalid': ctrl.isStrongWarning, 'validity--warning': !ctrl.isStrongWarning}"
>

    <strong>
        {{ctrl.warningTextHeader}}
        <gr-icon title="This image cannot normally be used in content - either this image has been given a valid lease or you are a lease granter.">help</gr-icon>
    </strong>
    <li>
        {{ctrl.denySyndicationTextHeader}}
        <gr-icon title="This image cannot normally be used in content - either this image has been given a valid lease or you are a lease granter.">help</gr-icon>
    </li>
</div>
