/* ==========================================================================
   Common
   ========================================================================== */

@font-face {
    font-family: "Guardian Text Egyptian Web";
    src: url("fonts/GuardianEgyptianWeb-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family: "Guardian Text Egyptian Web";
    src: url("fonts/GuardianEgyptianWeb-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family: "Guardian Agate Sans 1 Web";
    src: url("fonts/GuardianAgateSans1Web-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family: "Guardian Agate Sans 1 Web";
    src: url("fonts/GuardianAgateSans1Web-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
}

@keyframes fadeIn {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@-webkit-keyframes fadeIn {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

html {
    font: 62.5%/1.5 "Guardian Text Egyptian Web";
}

body {
    background-color: #333;
    color: #ccc;
    font-size: 1.6rem;
    margin: 0;
    padding: 0 0 0 0;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-family: inherit;
    font-weight: normal;
    margin: 0;
}

figure, ul, li, dl, dd {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    color: #ccc;
    text-decoration: none;
}

.coloured-link {
    color: #00adee;
}

input[type="text"],
textarea {
    background-color: #444;
    color: #ccc;
    border: 1px solid #999;
}

input[type="text"],
textarea,
label {
    font-family: "Guardian Agate Sans 1 Web";
    font-size: 1.4rem;
    line-height: 1.4;
}

button {
    border: 0;
    background: transparent;
    padding: 0;
    margin: 0;
    cursor: pointer;
    color: inherit;
    font-size: inherit;
}

.button {
    border: 0;
    background: #00adee;
    border-radius: 2px;
    box-shadow: 0 2px #00729c;
    box-sizing: border-box;
    color: white;
    display: block;
    padding: 5px 20px !important;
    font-family: "Guardian Egyptian Text";
    font-size: 1.6rem;
    position: relative;
}
.button:hover {
    background: #008fc5;
}
.button:active {
    box-shadow: none;
    top: 2px;
}
.button:focus,
a:focus {
    outline: 2px solid rgba(255, 255, 255, 0.5);
    outline-offset: -3px;
}
.button[disabled] {
    background-color: #999;
    box-shadow: 0 2px #666;
    color: #ccc;
}

.button--shy {
    padding: 2px 5px;
    color: #ccc;
    background: transparent;
    box-shadow: 0 2px #888;
    border: 1px solid #888;
    border-bottom: 0;
}
.button--shy:not([disabled]):hover {
    background: #888;
}

.loader {
    text-align: center;
}
.loader:after {
    border: 12px solid white;
    border-bottom-width: 35px;
    content: "g";
    height: 90px;
    width: 80px;
    display:  block;
    box-sizing:  border-box;
    background:  #ddd;
    margin: auto;
    color:  #005689;
    font-size: 2.6rem;
    margin-top: 10px;

    animation-duration: 1500ms;
    animation-name: flipper;
    animation-iteration-count: infinite;
    -webkit-animation-duration: 1500ms;
    -webkit-animation-name: flipper;
    -webkit-animation-iteration-count: infinite;
}
@keyframes flipper {
    0% {}
    95% {}
    100% { transform: rotateY(360deg); }
}
@-webkit-keyframes flipper {
    0% {}
    95% {}
    100% { transform: rotateY(360deg); }
}


/* ==========================================================================
   Top bar
   ========================================================================== */

.top-bar-wrapper {
    height: 48px; /* faking we're in the flow */
    position: relative;
    z-index: 1;
}

.top-bar {
    background-color: #333;
    padding: 10px;
    font-family: "Guardian Agate Sans 1 Web";
    width: 100%;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.4);
    font-size: 1.4rem;
    display: flex;
    box-sizing: border-box;
}
.top-bar--fixed {
    position: fixed;
}

.top-bar__nav {
    flex-grow: 1;
    text-align: left;
}

.top-bar__actions {
    display: flex;
}

.top-bar__item {
    margin-left: 20px;
    vertical-align: middle;
    line-height: 28px;
}
.top-bar__item--first {
    margin-left: 0;
}

.logout {
    color: inherit;
}


/* ==========================================================================
   Search
   ========================================================================== */

.search {}

.search__query {
    padding: 5px 10px;
    max-width: 250px;
    width: 100%;
}

.search__filters {
    display: inline-block;
}

.search__filter {
    vertical-align: middle;
    margin-left: 10px;
}
.search__filter--first {
    margin: 0;
}


/* ==========================================================================
   File uploader
   ========================================================================== */

.file-uploader__file {
    display: none;
}


/* ==========================================================================
   Results
   ========================================================================== */

.results {
    display: flex;
    flex-wrap: wrap;
    animation: fadeIn .25s;
    -webkit-animation: fadeIn .25s;
}

.results-controls {
    background: white;
    padding: 10px;
    box-shadow: 0px 1px 5px #999;
}

.results__control {
    display: inline;
    margin-right: 5px;
}

.image-result {
    width: 20%;
    min-width: 200px;
    max-width: 270px;
    flex: 1;
    background: #393939; /* from NGW galleries... */
    margin: 10px 5px;
    position: relative;
    padding-bottom: 65px;
}
.image-result--seen {
    opacity: .5;
}

.image-results__popout {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, .5);
    color: white;
    display: none;
    line-height: 18px;
    width: 18px;
    text-align: center;
    font-size: 1.2rem;
}

.image-result:hover .image-results__popout {
    display: block;
}

.image-result__link {
    color: inherit;
    display: block;
    text-align: center;
}

.image-result__image {
    max-height: 200px;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.image-result__caption {
    box-sizing: border-box;
    bottom: 30px;
    cursor: help;
    font-size: 1.2rem;
    overflow: hidden;
    padding: 10px;
    position: absolute;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.image-result__meta {
    bottom: 0;
    position: absolute;
    width: 100%;
}

.image-result__labels {
    padding-left: 10px;
    font-size: 1.2rem;
}

.uploaded-time {
    font-size: 1.4rem;
    font-weight: bold;
    padding-left: 10px;
}

.image-result__bottom-bar {
    display: flex;
}

.result-meta {
    flex: 1;
}

.result-actions {
    color: #aaa;
}

.result-action {
    color: inherit;
    display: inline-block;
}

.uploaded-date {
    color: #aaa;
    padding-left: 15px;
    font-weight: normal;
    font-size: 1.2rem;
}

.cost {
    color: white;
    font-size: 1.4rem;
    padding: 2px 10px 0;
    text-align: center;
    vertical-align: middle;
}
.cost--free {
    background-color: green;
}
.cost--pay {
    background-color: red;
}

.image-results-count {
    font-size: 1.4rem;
    margin: 10px;
    margin-bottom: 0;
}

.image-results-count__new {
    font-family: inherit;
    background-color: #00adee;
    color: white;
    display: inline-block;
    padding: 2px 4px;
    border-radius: 2px;
    margin-left: 5px;
}

.image-loading-results,
.image-no-results {
    font-size: 3rem;
    text-align: center;
    margin-top: 4rem;
}

.image-loading-results {
    color: #999;
}

/* ==========================================================================
   Full Image / crop
   ========================================================================== */

.easel {
    display: block;
    text-align: center;
}

.easel__canvas {
    height: calc(100vh - 48px); /* viewport - top-bar */
    vertical-align: middle;
}

.easel__image-container {
    display: block;
    height: 100%;
}

.easel__image {
    display: block;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    max-width: calc(100% - 20px); /* 20px here for padding */
    max-height: calc(100vh - 68px);
}

.image-details {
    box-sizing: border-box;
    float: right;
    font-family: "Guardian Agate Sans 1 Web";
    font-size: 1.4rem;
    height: calc(100vh - 48px); /* viewport - top-bar */
    padding: 10px 10px;
    overflow: auto;
    width: 300px;
    border-left: 1px solid #222;
}
.image-details:after {
    clear: both;
    content:  " ";
    display:  table;
}

.image-holder {
    margin-right: 300px;
}

.image-info {
    margin-bottom: 15px;
}

.image-info__group {
    margin-bottom: 5px;
}

.image-info__title {
    font-weight: bold;
}

.image-info__heading {
    color: #999;
}
.image-info__heading--first {
    margin-top: 0;
}

.image-info__keyword {
    display: inline-block;
    background-color: #222;
    color: #999;
    border-radius: 8px;
    padding: 0 8px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 1.3rem;
}

.image-info__keyword a {
    color: inherit;
}

.metadata-line {
    color: #999;
}

.metadata-line__info {
    color: #ccc;
}

.metadata-line__info a {
    color: inherit;
    border-bottom: 1px solid #999;
}


.metadata-reveal {
    color: #999;
    font-size: 1.4rem;
    font-family: inherit;
}


.metadata {
    font-family: "Guardian Agate Sans 1 Web";
}

.metadata__heading {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
}

.metadata__body {
    font-size: 1.3rem;
}

.metadata__key {
    padding-right: 20px;
    font-weight: normal;
    color: #999;
    vertical-align: top;
    text-align: left;
}

.image-crops {
    display: flex;
    flex-wrap: wrap;
}

.image-crop {
    border: solid 5px transparent;
    max-width: 140px;
    margin-right: 5px;
    box-sizing: border-box;
}
.image-crop--selected {
    border-color: #00adee;
}

.image-crop__image {
    display: block;
    width: 100%;
}

.image-crop__aspect-ratio {
    background: #333;
    padding: 2px;
    font-size: 1.2rem;
}


/* ==========================================================================
   Labeller
   ========================================================================== */
.labeller {
    font-size: 1.4rem;
    font-family: "Guardian Agate Sans 1 Web";
}

.labels {
    display: inline-block;
}

.label {
    background-color: #00adee;
    color: white;
    display: inline-block;
    padding: 0 4px;
    border-radius: 2px;
    margin-right: 5px;
}
.label--removing {
    background-color: #99ddff;
}

.label__link,
.label__remove {
    color: white;
}

.labels,
.no-labels {
    margin-bottom: 5px
}

.no-labels {
    font-style: italic;
}


/* ==========================================================================
   Uploads
   ========================================================================== */

.upload-latest,
.upload-yours {
    margin: 20px;
}

.jobs {
    border-collapse: collapse;
}

.job-status {
    padding: 5px 10px;
    border-radius: 5px;
}
.job-status--uploading,
.job-status--indexing,
.job-status--re-indexing {
    color: white;
    background-color: orange;
}
.job-status--ready {
    color: white;
    background-color: green;
}
.job-status--upload-error,
.job-status--invalid {
    color: white;
    background-color: red;
}

.job-info {
    vertical-align: top;
    padding: 20px 30px 20px;
    border-bottom: 1px dashed #ccc;
}

.job-info--thumbnail {
    /* reserve space */
    width: 150px;
    max-height: 150px;
}
.job-info--thumbnail__image {
    max-width: 100%;
    max-height: 100%;
}

.job-file {
    color: #aaa;
    font-size: 1.2rem;
    margin-top: 10px;
}

.job-info--editor__field {
    display: block;
    margin-bottom: 5px;
}
.job-info--editor__label {
    width: 100px;
    display: inline-block;
    vertical-align: top;
}
.job-info--editor__input {
    width: 300px;
    border: 1px solid #dcdcdc;
    padding: 5px;
}
.job-info--editor__input.ng-invalid {
    border-color: #ed5935;
}
.job-info--editor__input--description {
    height: 4em;

    /* FIXME: Horrible hack to reclaim vertical space caused by the
       element not being display:block.  CSS *sigh*. */
    margin-bottom: -7px;
}

.job-editor:after {
    clear: both;
    content: " ";
    display: table;
}

.job-editor__inputs,
.job-editor__buttons {
    float: left;
    margin-right: 20px;
}

.job-editor__button {
    display: block;
    margin-bottom: 5px;
}

.job-labels {
    margin-top: 10px;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 2px;
}
.job-labels:after {
    clear: both;
    content: " ";
    display: table;
}

.job-labeller {
    clear: both;
}

.job-apply-to-all {
    float: right;
}


/* ==========================================================================
   jCrop
   ========================================================================== */


.jcrop-holder {
    margin: 0 auto;
    max-width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.jcrop-holder .easel__image {
    top: 50% !important;
}

.jcrop-keymgr {
    opacity: 0;
}

/* ==========================================================================
   Drag and drop
   ========================================================================== */
.dnd-uploader {
    border: 5px dashed #00adee;
    background: rgba(20, 20, 20, .75);
    width: calc(100vw - 10px);
    height: calc(100vh - 10px); /* border-box doesn't work with v units */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    text-align: center;
}

.dnd-uploader__info {
    border: 0px solid #00adee;
    color: white;
    background: #00adee;
    max-width: 500px;
    border-radius: 2px;
    text-align: center;
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    animation-duration: 2000ms;
    animation-name: heartbeat;
    animation-iteration-count: infinite;
    -webkit-animation-duration: 2000ms;
    -webkit-animation-name: heartbeat;
    -webkit-animation-iteration-count: infinite;
}

.dnd-uploader__heading {
    font-size: 2.6rem;
}

@-webkit-keyframes heartbeat {
    0% { border-width: 0; }
    10% { border-width: 10px; }
    90% { border-width: 10px; }
    100% { border-width: 0; }
}


/* ==========================================================================
   Archiver
   ========================================================================== */

.archiver--archived {
    color: gold;
}


/* ==========================================================================
   Edit Applicator
   ========================================================================== */

.edit-applicator-wrapper {
    border-bottom: 1px dashed #ccc;
}

.edit-applicator {
    padding-bottom: 10px;
    max-width: 500px;
}

.edit-applicator__byline,
.edit-applicator__credit {
    display: inline-block;
    width: 50%;
}


.edit-applicator__description {
    display: block;
    margin: 10px 0;
}

.edit-applicator__description-input {
    display: block;
    box-sizing: border-box;
    width: 100%;
}

.byline-and-credit {
    display: flex;
}

.byline-and-credit__byline,
.byline-and-credit__credit {
    flex-grow: 1;
}

.byline-and-credit__input {
    width: 100%;
    box-sizing: border-box;
}

.byline-and-credit__separator {
    margin: 0 5px;
    align-self: flex-end; /* Makes it shift to the baseline */
}


/* ==========================================================================
   Portrait
   ========================================================================== */

@media screen and (orientation:portrait) {

}
