/* reset */
figure, ul, li {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

/* type */
body {
    color: #333;
    font: 100%/1.4 Georgia;
    background-color: #f4f4f4;
}

.user-menu {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1; /* above search bar */
}

.search {
    position: fixed;
    background-color: #ccc;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
}

.search__control {
    margin-right: 10px;
}
.search__control--free {
    font-size: 0.75rem;
}
.search__query {
    padding: 5px 10px;
    width: 20%;
}

.results {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto; /* Vertically scrollable */
}

.image-result {
    width: 20%;
    min-width: 200px;
    flex: 1;
    background: #fff;
    margin: 10px 5px;
    position: relative;
    padding-bottom: 45px;
}

.image-result__cost {
    background-color: darkgrey;
    border: 2px solid white;
    border-right: 0;
    bottom: 36px;
    color: white;
    font-size: 0.75rem;
    padding: 1px 10px;
    position: absolute;
    right: 0;
    text-align: center;
    vertical-align: middle;
}
.image-result__cost--free {
    background-color: green;
}
.image-result__cost--pay {
    background-color: red;
}

.image-result__link {
    display: block;
}

.image-result__image {
    max-height: 200px;
    max-width: 100%;
    display: inline-block;
    margin: 0 auto;
}

.image-result__caption {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}

.full-image__image {
    max-width: 100%;
    max-height: 100%;
}

.metadata-key {
    font-weight: bold;
    white-space: nowrap;
    vertical-align: top;
}

.data-header {
    margin-top: 1em;
    font-weight: bold;
}

.data-header:first-child {
    margin-top: 0;
}

.buckets {
    position: fixed;
    top: 40px;
    right: 0;
    width: 50px;
}

.bucket--new {
    margin-top: 0.5em;
    font-style: italic;
}


.image-crop__image-container {
    position: absolute;
    top: 20px;
    right: 0;
    left: 0;
    bottom: 20px;
    padding: 10px;
    text-align: center;
}

.image-crop__controls {
    position: absolute;
    height: 20px;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
}
