/* ==========================================================================
   Common
   ========================================================================== */

@font-face {
    font-family: "Guardian Text Egyptian Web";
    src: url("fonts/GuardianEgyptianWeb-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family: "Guardian Text Egyptian Web";
    src: url("fonts/GuardianEgyptianWeb-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family: "Guardian Agate Sans 1 Web";
    src: url("fonts/GuardianAgateSans1Web-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family: "Guardian Agate Sans 1 Web";
    src: url("fonts/GuardianAgateSans1Web-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
}

html {
    font: 62.5%/1.5 "Guardian Text Egyptian Web";
}

body {
    background-color: #f4f4f4;
    color: #333;
    font-size: 1.6rem;
    margin: 0;
    padding: 0 0 0 0;
}

figure, ul, li, dl, dd {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.button {
    border: 0;
    background: #00adee;
    border-radius: 2px;
    box-shadow: 0 2px #00729c;
    color: white;
    display: block;
    padding: 5px 20px !important;
    font-family: "Guardian Egyptian Text";
    font-size: 1.6rem;
}
.button:hover {
    background: #008fc5;
}
.button:active {
    box-shadow: none;
    background: #1a7d91; /* 25% darken */
}
.button:focus,
a:focus {
    box-shadow: none;
    outline: 2px solid rgba(255, 255, 255, 0.5);
    outline-offset: 1px;
}
.button[disabled] {
    background-color: #999;
    box-shadow: 0 2px #666;
    color: #ccc;
}


.user-menu {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1; /* above search bar */
}

.loader {
    text-align: center;
}
.loader:after {
    border: 12px solid white;
    border-bottom-width: 35px;
    content: "g";
    height: 90px;
    width: 80px;
    display:  block;
    box-sizing:  border-box;
    background:  #ddd;
    margin: auto;
    color:  #005689;
    font-size: 2.6rem;
    margin-top: 10px;

    -webkit-animation-duration: 1500ms;
    -webkit-animation-name: flipper;
    -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes flipper {
    0% {}
    95% {}
    100% { transform: rotateY(360deg); }
}
.logout {
    background: #999;
    top: 0;
    color: white;
    font-family: "Guardian Agate Sans 1 Web";
    font-size: 1.2rem;
    opacity: .5;
    padding: 5px 10px;
    position: absolute;
    right: 0;
}
.logout:hover {
    opacity: 1;
}

/* ==========================================================================
   Search
   ========================================================================== */
.search {
    position: fixed;
    background-color: #ccc;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    font-family: "Guardian Agate Sans 1 Web";
}

.search__control {
    margin-right: 10px;
}
.search__control--free {
    font-size: 1.4rem;
}

.search__query {
    padding: 5px 10px;
    width: 20%;
}


/* ==========================================================================
   Results
   ========================================================================== */
.results {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto; /* Vertically scrollable */
}

.image-result {
    width: 20%;
    min-width: 200px;
    flex: 1;
    background: #fff;
    margin: 10px 5px;
    position: relative;
    padding-bottom: 65px;
}

.image-result__link {
    background: #ddd;
    display: block;
    text-align: center;
}

.image-result__image {
    max-height: 200px;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.image-result__caption {
    box-sizing: border-box;
    bottom: 30px;
    cursor: help;
    font-size: 1.2rem;
    overflow: hidden;
    padding: 10px;
    position: absolute;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.image-result__meta {
    bottom: 0;
    position: absolute;
    width: 100%;
}

.image-result__uploaded {
    font-size: 1.2rem;
    padding-left: 10px;
    text-align: left;
}

.uploaded__date {
    color: #999;
    padding-left: 5px;
}

.image-result__cost {
    background-color: darkgrey;
    border-right: 0;
    color: white;
    float: right;
    font-size: 1.4rem;
    padding: 1px 10px;
    text-align: center;
    vertical-align: middle;
}
.image-result__cost--free {
    background-color: green;
}
.image-result__cost--pay {
    background-color: red;
}


/* ==========================================================================
   Full Image / crop
   ========================================================================== */
.easel {
    background: #333;
    display: block;
    text-align: center;
}
.easel--with-meta {
    margin-right: 410px;
}

.easel__canvas {
    display: inline-block;
    vertical-align: bottom;
    height: calc(100vh - 44px); /* viewport - palette */
}

.easel__image {
    display: block;
    max-height: calc(100vh - 44px); /* viewport - palette */
    max-width: 100%;
    vertical-align: bottom;
}

.palette {
    background: #555;
    bottom: 0;
    color: white;
    display: block;
    font-family: "Guardian Agate Sans 1 Web";
}

.palette__button {
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
}

.image-details {
    box-sizing: border-box;
    float: right;
    font-family: "Guardian Agate Sans 1 Web";
    font-size: 1.4rem;
    max-height: 100vh;
    padding: 10px 10px;
    overflow: auto;
    width: 400px;
}

.image-details:after {
    clear: both;
    content:  " ";
    display:  table;
}

.image-info__heading {
    font-weight: bold;
    margin: 15px 0 5px;
}
.image-info__heading:first-child {
    margin-top: 0;
}

.metadata {
    font-family: "Guardian Agate Sans 1 Web";
    margin-top: 15px;
}

.metadata__heading {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
}

.metadata__body {
    font-size: 1.3rem;
}

.metadata__key {
    padding-right: 20px;
    text-align: left;
}

.buckets {
    position: fixed;
    top: 40px;
    right: 0;
    width: 50px;
}

.bucket--new {
    margin-top: 0.5em;
    font-style: italic;
}

.drag-drop {
    cursor: move;
    position: relative;
    text-align: center;
}

.drag-drop__image {
    border: 5px dashed #999;
    box-sizing: border-box;
    max-height: 100vh;
    max-width: 100%;
}

.drag-drop__handle {
    background: rgba(0, 0 , 0, .75);
    bottom: 0;
    color: white;
    font-size: 2.4rem;
    height: 10%;
    left: 0;
    line-height: 200%;
    margin: auto;
    padding: 20px 10px;
    position: absolute;
    right: 0;
    top: 0;
    width: 20%;
}

.drag-drop__data {
    background: rgba(0,0,0,0.5)
    left: 0;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    width: 100vw;
}

.drag-drop__drag-image {
    position: absolute;
    top: 50px;
    z-index: -1;
}

@media screen and (orientation:portrait) {
    .full-image {
        display: flex;
        flex-wrap: wrap;
    }
    .easel--with-meta {
        margin-right: 0;
        order: 1;
        width: 100%;
    }
    .easel--with-meta .easel__canvas {
        height: calc(75vh - 44px); /* viewport - palette */
    }
    .easel--with-meta .easel__image {
        max-height: calc(75vh - 44px); /* viewport - palette */
    }
    .image-details {
        order: 2;
        width: 100%;
    }
}
