<div class="batch-archive"
     ng-switch="ctrl.archivedState">
    <span ng-switch-when="kept"
          class="side-padded batch-archive__button batch-archive__button--disabled"
          gr-tooltip="{{ctrl.archivedExplanation}}"
          gr-tooltip-updates>
        <gr-library-locked-icon class="batch-archive__icon"></gr-library-locked-icon>
        <span class="icon-label">Kept in Library</span>
    </span>

    <button ng-switch-when="archived"
            type="button"
            class="clickable side-padded batch-archive__button"
            ng-click="ctrl.unarchive()"
            ng-disabled="ctrl.archiving">
        <gr-library-remove-icon class="batch-archive__icon"></gr-library-remove-icon>
        <span ng-if="!ctrl.archiving">Remove from Library</span>
        <span ng-if="ctrl.archiving">Removing from Library…</span>
    </button>

    <button ng-if="ctrl.canArchive" ng-switch-when="unarchived"
            type="button"
            class="clickable side-padded batch-archive__button"
            ng-click="ctrl.archive()"
            ng-disabled="ctrl.archiving">
        <gr-library-add-icon class="batch-archive__icon"></gr-library-add-icon>
        <span ng-if="!ctrl.archiving">Add to Library</span>
        <span ng-if="ctrl.archiving">Adding to Library…</span>
    </button>
</div>
