<div class="batch-archive"
     ng:switch="ctrl.archivedState">
    <button ng:switch-when="archived"
            type="button"
            class="inner-clickable batch-archive__button"
            ng:click="ctrl.unarchive()"
            ng:disabled="ctrl.archiving">
        <gr-icon-label gr-icon="lock_open">
            <span ng:if="!ctrl.archiving">Remove from Library</span>
            <span ng:if="ctrl.archiving">Removing from Library…</span>
        </gr-icon-label>
    </button>

    <button ng:switch-when="unarchived"
            type="button"
            class="inner-clickable batch-archive__button"
            ng:click="ctrl.archive()"
            ng:disabled="ctrl.archiving">
        <gr-icon-label gr-icon="lock">
            <span ng:if="!ctrl.archiving">Add to Library</span>
            <span ng:if="ctrl.archiving">Adding to Library…</span>
        </gr-icon-label>
    </button>
</div>
