.ts-toggle-container {
  min-width: 200px;
  display: flex;
  align-items: center;
  height: 50px;
  fill: #ccc;
}

.ts-toggle-switch {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 24px;
}

.ts-toggle-switch input {
  display: none;
}

.ts-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.ts-slider:before {
  position: absolute;
  content: url('data:image/svg+xml,<svg width="18px" height="18px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7 17L16.8995 7.10051" stroke="%23000"  stroke-width="2"/><path d="M7 7.00001L16.8995 16.8995" stroke="%23000" stroke-width="2"/></svg>');
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
}

.ts-toggle-label {
  padding-left: 8px;
  padding-right: 8px;
}

input:checked + .ts-slider {
  background-color: #00adee;
}

input:checked + .ts-slider:before {
  transform: translateX(14px);
  content: url('data:image/svg+xml,<svg width="18px" height="18px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><polyline fill="none" points="3.7 14.3 9.6 19 20.3 5" stroke="%23000" stroke-width="2"/></svg>');
}
