@(error: Option[String] = None)

<!DOCTYPE html>

<html>
<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='@routes.Assets.at("bootstrap-3.0.0/css/bootstrap.min.css")'>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
</head>
<body>

    <h2>Login</h2>

    <p>Please click the button to login with your google account.</p>
    @for(e <- error) {
        <div class="alert alert-error">
            <p>@e</p>
        </div>
    }

    <form action="@routes.Login.loginAction()" method="get">
        <input value="Log In" class="btn btn-primary" type="submit">
    </form>

</body>
</html>
