@import lib.ScriptToLoad

@(mediaApiUri: String,
  authApiUri: String,
  reauthUri: String,
  sentryDsn: Option[String],
  sessionId: String,
  googleTrackingId: Option[String],
  feedbackFormLink: Option[String],
  usageRightsHelpLink: Option[String],
  invalidSessionHelpLink: Option[String],
  supportEmail: Option[String],
  fieldAliases: String,
  scriptsToLoad: List[ScriptToLoad],
  staffPhotographerOrganisation: String,
  homeLinkHtml: Option[String],
  systemName: String,
  canDownloadCrop: Boolean
)
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title ui-title ui-title-suffix="@systemName">@systemName</title>
    <!-- htmllint line-ending-style="false" -->


    <!-- preconnect to core APIs ahead of JS making the requests -->
    <link rel="preconnect" href="@mediaApiUri"/>
    <link rel="preconnect" href="@authApiUri"/>

    <link rel="shortcut icon" type="image/svg+xml" href="@routes.Assets.versioned("images/grid-favicon.svg")"/>
    <link rel="alternate shortcut icon" type="image/png" href="@routes.Assets.versioned("images/grid-favicon-32.png")"/>
    <link rel="assets" href="@routes.Assets.versioned("")"/>
    <link rel="media-api-uri" href="@mediaApiUri" />
    <link rel="reauth-uri" href="@reauthUri" />
    <link rel="auth-uri" href="@authApiUri" />

    @sentryDsn.map { dsn => <link rel="sentry-dsn" href="@dsn" /> }
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")" />

    <style>
        .ng-cloak { display: none }
    </style>

    <script>
        this._clientConfig = {
          sessionId: "@Html(sessionId)",
          googleTrackingId: "@Html(googleTrackingId.getOrElse(""))",
          feedbackFormLink: "@Html(feedbackFormLink.getOrElse(""))",
          usageRightsHelpLink: "@Html(usageRightsHelpLink.getOrElse(""))",
          invalidSessionHelpLink: "@Html(invalidSessionHelpLink.getOrElse(""))",
          supportEmail: "@Html(supportEmail.getOrElse(""))",
          staffPhotographerOrganisation: "@Html(staffPhotographerOrganisation)",
          fieldAliases: @Html(fieldAliases),
          homeLinkHtml: '@Html(homeLinkHtml.getOrElse(""))',
          systemName: "@Html(systemName)",
          canDownloadCrop: @canDownloadCrop
        }
    </script>

  </head>
  <body>
    <p class="loader" ng-hide="true">Loading @systemName…</p>

    <div ui-view></div>

    <ui-global-errors></ui-global-errors>

    @googleTrackingId.map { id =>
      <script>
        window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      </script>
      <script async src='https://www.google-analytics.com/analytics.js'></script>
    }

    <script src="@routes.Assets.versioned("dist/build.js")"></script>

    @scriptsToLoad.map { scriptDetail =>
      <script async="@scriptDetail.async" src="@scriptDetail.host/@scriptDetail.path"></script>
    }

  </body>
</html>
