<div class="image-info__group">
    <span class="flex-container gr-image-usage__field_title">
        {{ctrl.type}} ({{ctrl.usages.length}})
    </span>

    <ul>
        <li class="gr-image-usage__record" ng-repeat="usage in ctrl.usages">
            {{usage.title}}
            <div class="more-info">
                <span class="date-added">{{::ctrl.formatTimestamp(usage.dateAdded)}}</span>
                <ul class="reference-list">
                    <li ng-repeat="reference in usage.references">
                        <a ng:if="reference.uri" href="{{reference.uri}}" title="Open in {{reference.type}}" target="_blank">
                            <gr-frontend-icon class="reference-list__icon" ng:if="reference.type === 'frontend'"></gr-frontend-icon>
                            <gr-composer-icon class="reference-list__icon" ng:if="reference.type === 'composer'"></gr-composer-icon>
                        </a>
                        <gr-icon ng:if="reference.type === 'indesign'" class="reference-list__icon">local_library</gr-icon>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>
