[Unit]
Description=Metadata Editor

[Service]
User=media-service
WorkingDirectory=/home/media-service
ExecStart=/home/media-service/bin/metadata-editor
StandardOutput=syslog
