gr-chips {
    white-space: nowrap;
    overflow: hidden;
    cursor: text; /* pretend the whole thing is a text input */
}

.gr-chips__wrapper {
    display: flex;
}

.gr-chips__placeholder {
    position: absolute;
    color: #aaa;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
}

.gr-chips__chip-wrapper {
    display: inline-flex;
}

.gr-chips__chip-wrapper.text-chip {
    flex-grow: 3;
    order: 999; /*always have the text chip after filter chips*/
}

gr-text-chip, gr-text-chip input {
    width: 100%;
}

gr-text-chip,
gr-filter-chip,
gr-static-filter-chip,
gr-filter-chooser-chip,
gr-filter-chip,
gr-datalist {
    display: inline-block;
}

gr-text-chip {
    line-height: 22px;
}

gr-filter-chip button,
gr-static-filter-chip button,
gr-filter-chooser-chip button {
    border: 0;
    background: transparent;
    padding: 0;
}

.gr-filter-chip__value,
.gr-static-filter-chip__value,
.gr-filter-chooser-chip__value {
    padding: 4px 2px;
}

.gr-filter-chip__key,
.gr-static-filter-chip__key,
.gr-static-filter-chip__value {
    cursor: default;
}

gr-text-chip input,
gr-filter-chip input,
gr-filter-chooser-chip input {
    border: 0;
    background: transparent;
}

gr-text-chip button:focus,
gr-filter-chip button:focus,
gr-static-filter-chip button:focus,
gr-filter-chooser-chip button:focus,
gr-text-chip input:focus,
gr-filter-chip input:focus,
gr-static-filter-chip input:focus,
gr-filter-chooser-chip input:focus {
    outline: none;
}

gr-static-filter-chip,
gr-filter-chip {
    margin-right: 5px;
}

gr-text-chip input::placeholder {
  color: #888;
}
