<div ng:if="ctrl.selectedImages.size > 0"
    class="panel panel--side panel--right image-details">

    <div class="panel__top">
        <h1 class="panel__title">Metadata ({{ctrl.selectedImages.size}} image<span ng:if="ctrl.selectedImages.size > 1">s</span>)</h1>
        <button class="panel__close" ng:click="ctrl.clear()">x</button>
    </div>

    <div class="panel__content">
        <div class="image-info__group">
            <div class="image-info__wrap" ng:if="ctrl.metadata.title">
                <h2 class="image-info__title"
                    ng:if="!ctrl.hasMultipleValues(ctrl.metadata.title)"
                    >{{ctrl.metadata.title}}</h2>

                <h2 class="image-info__title image-info--multiple"
                    ng:if="ctrl.hasMultipleValues(ctrl.metadata.title)"
                    >multiple titles</h2>
            </div>

            <div class="image-info__wrap">
                <div class="image-info__description"
                     ng:if="ctrl.metadata.description && !ctrl.hasMultipleValues(ctrl.metadata.description)"
                    >{{ctrl.metadata.description}}</div>

                <div class="image-info__description image-info--multiple"
                     ng:if="ctrl.metadata.description && ctrl.hasMultipleValues(ctrl.metadata.description)"
                    >multiple descriptions</div>
            </div>
        </div>

        <div class="image-info__group">
            <div class="image-info__wrap metadata-line image-info__byline">
                by
                <span class="metadata-line__info" ng:if="ctrl.metadata.byline && !ctrl.hasMultipleValues(ctrl.metadata.byline)">
                    <a ui:sref="search.results({query: (ctrl.metadata.byline | queryFilter:'by')})">{{ctrl.metadata.byline}}</a>
                </span>

                <span class="metadata-line__info image-info--multiple" ng:if="ctrl.metadata.byline && ctrl.hasMultipleValues(ctrl.metadata.byline)">
                    multiple values
                </span>

                <span class="metadata-line__info" ng:if="!ctrl.metadata.byline">
                    unknown
                </span>
            </div>

            <div class="image-info__wrap metadata-line image-info__credit">
                credit
                <span class="metadata-line__info" ng:if="ctrl.metadata.credit && !ctrl.hasMultipleValues(ctrl.metadata.credit)">
                    <a ui:sref="search.results({query: (ctrl.metadata.credit | queryFilter:'credit')})">{{ctrl.metadata.credit}}</a>
                </span>

                <span class="metadata-line__info image-info--multiple" ng:if="ctrl.metadata.credit && ctrl.hasMultipleValues(ctrl.metadata.credit)">
                    multiple values
                </span>

                <span class="metadata-line__info" ng:if="!ctrl.metadata.credit">unknown</span>
            </div>
        </div>

    </div>

    <div class="panel__bottom">
        <button class="panel__close button-shy" ng:click="ctrl.clear()">clear selection</button>
    </div>
</div>
