<div ng:if="ctrl.selectedImages.size > 0"
    class="panel panel--side panel--right image-details">

    <div class="panel__top">
        <h1 class="panel__title">{{ctrl.selectedImages.size}} image<span ng:if="ctrl.selectedImages.size > 1">s</span> selected</h1>
        <button class="panel__close" ng:click="ctrl.clear()" title="Clear selection and close">
            <i class="material-icons">close</i>
        </button>
    </div>

    <div class="panel__content">
        <ul class="costs" ng:if="ctrl.showCosts">
            <li ng:repeat="cost in ctrl.selectedCosts | orderBy:'data'">
                <div ng:switch="cost.data">
                    <div ng:switch-when="free"
                         class="image-notice image-info__group status cost cost--free">
                        {{cost.count}} free
                    </div>

                    <div ng:switch-when="pay"
                         class="image-notice image-info__group status cost cost--pay">
                        {{cost.count}} pay
                    </div>

                    <div ng:switch-when="conditional"
                         class="image-notice image-info__group cost cost--conditional">
                        {{cost.count}} restricted
                    </div>
                </div>
            </li>
        </ul>

        <div class="image-info__group">
            <div class="image-info__wrap" ng:if="ctrl.rawMetadata.title">
                <button class="image-info__edit"
                        ng:if="ctrl.userCanEdit"
                        ng:click="titleEditForm.$show()"
                        ng:hide="titleEditForm.$visible">✎</button>
                <div class="metadata-line">title</div>
                <div ng:class="{'image-info--multiple': ctrl.hasMultipleValues(ctrl.rawMetadata.title)}"
                     editable-text="ctrl.metadata.title"
                     buttons="no"
                     blur="submit"
                     onbeforesave="ctrl.updateMetadataField('title', $data)"
                     e:form="titleEditForm"
                     e:ng-class="{'image-info__editor--error': $error, 'image-info__editor--saving': titleEditForm.$waiting}">

                    <div ng:if="ctrl.userCanEdit">
                        <h2 class="image-info__title" ng:if="ctrl.hasMultipleValues(ctrl.rawMetadata.title)">
                            multiple titles (click ✎ to edit <strong>all</strong>)
                        </h2>

                        <h2 class="image-info__title" ng:if="!ctrl.hasMultipleValues(ctrl.rawMetadata.title)">
                            {{ctrl.metadata.title || "unknown (click ✎ to add the title)"}}
                        </h2>
                    </div>

                    <div ng:if="!ctrl.userCanEdit">
                        <h2 class="image-info__title" ng:if="ctrl.hasMultipleValues(ctrl.rawMetadata.title)">
                            multiple titles
                        </h2>

                        <h2 class="image-info__title" ng:if="!ctrl.hasMultipleValues(ctrl.rawMetadata.title)">
                            {{ctrl.metadata.title || "unknown"}}
                        </h2>
                    </div>
                </div>
            </div>

            <div class="image-info__wrap">
                <button class="image-info__edit"
                        ng:if="ctrl.userCanEdit"
                        ng:click="descriptionEditForm.$show()"
                        ng:hide="descriptionEditForm.$visible">✎</button>
                <div class="metadata-line">description</div>
                <div ng:class="{'image-info--multiple': ctrl.hasMultipleValues(ctrl.rawMetadata.description)}"
                     editable-textarea="ctrl.metadata.description"
                     buttons="no"
                     blur="submit"
                     onbeforesave="ctrl.updateMetadataField('description', $data)"
                     e:msd-elastic
                     e:form="descriptionEditForm"
                     e:ng-class="{'image-info__editor--error': $error, 'image-info__editor--saving': descriptionEditForm.$waiting}">

                    <div ng:if="ctrl.userCanEdit">
                        <span class="image-info__description"
                              ng:if="ctrl.hasMultipleValues(ctrl.rawMetadata.description)"
                            >multiple descriptions (click ✎ to edit <strong>all</strong>)
                        </span>

                        <span class="image-info__description"
                              ng:if="!ctrl.hasMultipleValues(ctrl.rawMetadata.description)"
                            >{{ctrl.metadata.description || "unknown (click ✎ to add the description)"}}
                        </span>
                    </div>

                    <div ng:if="!ctrl.userCanEdit">
                        <span class="image-info__description"
                              ng:if="ctrl.hasMultipleValues(ctrl.rawMetadata.description)"
                            >multiple descriptions
                        </span>

                        <span class="image-info__description"
                              ng:if="!ctrl.hasMultipleValues(ctrl.rawMetadata.description)"
                            >{{ctrl.metadata.description || "unknown"}}
                        </span>
                    </div>

                </div>
            </div>
        </div>

        <div class="image-info__group">
            <div class="image-info__wrap metadata-line image-info__byline">
                <button class="image-info__edit"
                        ng:if="ctrl.userCanEdit"
                        ng:click="bylineEditForm.$show()"
                        ng:hide="bylineEditForm.$visible">✎</button>
                by
                <span ng:class="{'image-info--multiple': ctrl.hasMultipleValues(ctrl.rawMetadata.byline)}"
                     editable-text="ctrl.metadata.byline"
                     buttons="no"
                     blur="submit"
                     onbeforesave="ctrl.updateMetadataField('byline', $data)"
                     e:form="bylineEditForm"
                     e:ng-class="{'image-info__editor--error': $error, 'image-info__editor--saving': bylineEditForm.$waiting}">

                    <span class="metadata-line__info" ng:if="ctrl.hasMultipleValues(ctrl.rawMetadata.byline) && ctrl.userCanEdit">
                        multiple bylines (click ✎ to edit <strong>all</strong>)
                    </span>

                    <span class="metadata-line__info" ng:if="ctrl.hasMultipleValues(ctrl.rawMetadata.byline) && !ctrl.userCanEdit">
                        multiple bylines
                    </span>

                    <span class="metadata-line__info" ng:if="!ctrl.hasMultipleValues(ctrl.rawMetadata.byline)">
                        <span ng:if="ctrl.metadata.byline">
                            <a ui:sref="search.results({query: (ctrl.metadata.byline | queryFilter:'by')})">{{ctrl.metadata.byline}}</a>
                        </span>

                        <span ng:if="!ctrl.metadata.byline && ctrl.userCanEdit">unknown (click ✎ to add the byline)</span>
                    </span>
                </span>
            </div>

            <div class="image-info__wrap metadata-line image-info__credit">
                <button class="image-info__edit"
                        ng:if="ctrl.userCanEdit"
                        ng:click="creditEditForm.$show()"
                        ng:hide="creditEditForm.$visible">✎</button>
                credit
                <span ng:class="{'image-info--multiple': ctrl.hasMultipleValues(ctrl.rawMetadata.credit)}"
                      editable-text="ctrl.metadata.credit"
                      buttons="no"
                      blur="submit"
                      onbeforesave="ctrl.updateMetadataField('credit', $data)"
                      e:form="creditEditForm"
                      e:ng-class="{'image-info__editor--error': $error, 'image-info__editor--saving': creditEditForm.$waiting}">

                    <span class="metadata-line__info" ng:if="ctrl.hasMultipleValues(ctrl.rawMetadata.credit) && ctrl.userCanEdit">
                        multiple credits (click ✎ to edit <strong>all</strong>)
                    </span>

                    <span class="metadata-line__info" ng:if="ctrl.hasMultipleValues(ctrl.rawMetadata.credit) && !ctrl.userCanEdit">
                        multiple credits
                    </span>

                    <span class="metadata-line__info" ng:if="!ctrl.hasMultipleValues(ctrl.rawMetadata.credit)">
                        <span ng:if="ctrl.metadata.credit">
                            <a ui:sref="search.results({query: (ctrl.metadata.credit | queryFilter:'credit')})">{{ctrl.metadata.credit}}</a>
                        </span>

                        <span ng:if="!ctrl.metadata.credit && ctrl.userCanEdit">unknown (click ✎ to add the credit)</span>
                    </span>
                </span>
            </div>
        </div>

        <div class="image-info__group batch-label">
            <div class="metadata-line">labels</div>
            <ul class="labels">
                <li class="label"
                    ng:repeat="label in ctrl.selectedLabels | orderBy:'data'"
                    ng:class="{'label--partial': label.count < ctrl.selectedImages.size}">
                    <button ng:if="label.count < ctrl.selectedImages.size"
                            title="Apply label to all"
                            ng:click="ctrl.addLabel(label.data)">
                        <i class="material-icons">library_add</i>
                    </button>
                    {{label.data}}
                    <button class="label__remove"
                            title="Remove label from all"
                            ng:click="ctrl.removeLabel(label.data)">
                        <i class="material-icons">close</i>
                    </button>
                </li>
                <li class="label__add">
                    <button class="button-shy" title="Add Label" ng:click="ctrl.newLabel()">
                        Add
                    </button>
                </li>
            </ul>
        </div>

        <div class="image-info__group batch-archive" ng:switch="ctrl.archivedState"
            ng:class="{'batch-archive--archiving': ctrl.archiving}">
            <div ng:switch-when="mixed" class="batch-archive--mixed">
                <div class="metadata-line">
                    <i class="material-icons">star_half</i>
                    <span ng:if="!ctrl.archiving">{{ctrl.archivedCount}} archived</span>
                    <span ng:if="ctrl.archiving">saving...</span>
                </div>
                <span class="batch-archive__action" ng:if="!ctrl.archiving">
                    <button class="button-shy batch-archive__archive" ng:click="ctrl.archive()">
                        <i class="material-icons">star</i> all
                    </button>
                    <button class="button-shy batch-archive__unarchive" ng:click="ctrl.unarchive()">
                        <i class="material-icons">star_border</i> none
                    </button>
                </span>
            </div>
            <div ng:switch-when="archived" class="batch-archive--all-archived">
                <div class="metadata-line">
                    <i class="material-icons">star</i>
                    <span ng:if="!ctrl.archiving">all archived</span>
                    <span ng:if="ctrl.archiving">saving...</span>
                </div>
                <span class="batch-archive__action" ng:if="!ctrl.archiving">
                    <button class="button-shy batch-archive__unarchive" ng:click="ctrl.unarchive()">
                        <i class="material-icons">star_border</i> unarchive all
                    </button>
                </span>
            </div>
            <div ng:switch-when="unarchived" class="batch-archive--all-unarchived">
                <div class="metadata-line">
                    <i class="material-icons">star_border</i>
                    <span ng:if="!ctrl.archiving">all unarchived</span>
                    <span ng:if="ctrl.archiving">saving...</span>
                </div>
                <span class="batch-archive__action" ng:if="!ctrl.archiving">
                    <button class="button-shy batch-archive__archive" ng:click="ctrl.archive()">
                        <i class="material-icons">star</i> archive all
                    </button>
                </span>
            </div>
        </div>
    </div>

    <div class="panel__bottom">
        <button class="panel__close button-shy" ng:click="ctrl.clear()">clear selection</button>
    </div>
</div>
