.panel {
    background-color: #444;
}

.panel--side {
    width: 290px; /* width of gr-top-bar-actions on search page */
    height: calc(100vh - 85px); /* height of top-bar and results-bar */
}

.panel__right {
    float: right;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1;
    transition: right 0.1s;
}

.panel__right--hidden {
    right: -290px;
    transition: right 0.1s;
}
.panel__top {
    padding: 10px;
    font-size: 18px;
    height: 20px;
}

.panel__title {
    display: inline-block;
    float: left;
}

.panel__close {
    float: right;
    display: inline-block;
}

.panel__content {
    clear: both;
    height: calc(100% - 40px); /* panel__top  (20px height, 20px padding) */
    overflow: auto;
}

.panel__content .image-info__group:first-child {
    padding-top: 0;
}

.panel__bottom .panel__close{
    width: 100%;
    height: 100%;
}

.panel__empty-message {
    padding: 10px;
}

.panel__close-panel {
    position: absolute;
    top: 15px;
    right: 10px;
}

.batch-label .labels {
    white-space: normal;
}

.batch-label .labels .label,
.batch-label .labels {
    display: inline-block;
}

.batch-archive__archive:hover,
.batch-archive__unarchive:hover {
    color: white;
}
