.panel {
    padding: 10px;
    background-color: #444;
}

.panel--side {
    width: 280px;
    height: calc(100vh - 68px);
}

.panel--right {
    float: right;
}

.panel__title {
    display: inline-block;
    float: left;
}

.panel__close {
    float: right;
    display: inline-block;
}

.panel__content {
    clear: both;
}

.panel__bottom .panel__close{
    width: 100%;
}
