.panel {
    padding: 10px;
    background-color: #444;
}

.panel--side {
    width: 280px;
    height: calc(100vh - 48px);
}

.panel--right {
    float: right;
    position: fixed;
    right: 0;
    bottom: 0;
}

.panel__top,
.panel__bottom {
    height: 40px;
}

.panel__top {
    font-size: 18px;
}

.panel__title {
    display: inline-block;
    float: left;
}

.panel__close {
    float: right;
    display: inline-block;
}

.panel__content {
    clear: both;
    height: calc(100% - 40px - 40px); /* 40px panel__top, 40px panel__bottom */
    overflow: auto;
}

.panel__bottom {
    width: 100%;
}

.panel__bottom .panel__close{
    width: 100%;
    height: 100%;
}

.batch-label .labels {
    white-space: normal;
}

.batch-label .labels .label,
.batch-label .labels .label__add {
    display: inline-block;
}

.batch-archive .metadata-line {
    float: left;
}

.batch-archive__action {
    float: right;
}

.batch-archive--all-archived .metadata-line,
.batch-archive--mixed .metadata-line .material-icons {
    color: gold;
}

.batch-archive__archive:hover,
.batch-archive__unarchive:hover {
    color: gold;
}
