.gr-xeditable__submit,
.gr-xeditable__cancel {
    padding: 0 5px;
    height: 24px;
    color: white;
}

.gr-xeditable__submit gr-icon,
.gr-xeditable__cancel gr-icon {
    margin-right: 5px;
}

.gr-xeditable__submit {
    background-color: #00adee;
}

.gr-xeditable__submit:hover {
    background-color: #008fc5;
}

.gr-xeditable__cancel {
    background-color: #898989;
}

.gr-xeditable__cancel:hover {
    background-color: #666666;
}
