gr-add-label{
    display: flex;
    height: 25px;
}

gr-add-label:hover {
    color: white;
}

gr-add-label .small {
    border: none;
    padding: 0;
}

.gr-add-label__form {
    display: flex;
}

.gr-add-label__form__input {
    width: 150px;
}

.gr-add-label__form__buttons {
    display: flex;
}

.gr-add-label__form__buttons__button-cancel, .gr-add-label__form__buttons__button-save{
    margin-left: 5px;
}
