gr-add-label{
    display: flex;
    height: 25px;
}

gr-add-label form input {
    width: 150px;
}

gr-add-label:hover {
    color: white;
}

gr-add-label .small {
    border: none;
    padding: 0;
}

gr-add-label form {
    display: flex;
}

.gr-add-label__buttons {
    display: flex;
}

.gr-add-label__buttons button{
    margin-left: 5px;
}
