<button ng:class="{'small': ctrl.grSmall}"
        ng:click="ctrl.addLabel = true"
        ng:disabled="ctrl.adding"
        ng:if="!ctrl.addLabel"
        title="Add label">
    <gr-icon ng:class="{'spin': ctrl.adding}">add_box</gr-icon>
        <span ng:hide="ctrl.grSmall">
            Add<span ng:show="ctrl.adding">ing...</span>
        </span>
</button>
<form ng:if="ctrl.addLabel" ng:submit="ctrl.emAddLabel()">
    <input type='text' ng-model="ctrl.newLabel"></input>
    <span class="gr-add-label__buttons">
        <button class="button-cancel" type="button" ng:click="ctrl.cancel()">
            <gr-icon-label gr-icon="close"><span ng:hide="ctrl.grSmall">Close</span></gr-icon-label>
        </button>
        <button class="button-save" type="submit">
            <gr-icon-label gr-icon="check"><span ng:hide="ctrl.grSmall">Save</span></gr-icon-label>
        </button>
    </span>
</form>
