<form ng:if="ctrl.addLabel" ng:submit="ctrl.emAddLabel()">
    <input type='text' ng-model="ctrl.label"></input>
    <span class="editable-buttons">
        <button class="button-save" type="submit">
            <gr-icon-label class="ng-isolate-scope" gr-icon="check">
                <gr-icon><i class="gr-icon" ng:class="{'gr-icon--small': grSmall}"><span class="ng-binding ng-scope">check</span></i></gr-icon>
                <span class="icon-label"><span class="ng-scope">Save</span></span></gr-icon-label>
        </button>
        <button class="button-cancel" type="button" ng:click="ctrl.cancel()">
            <gr-icon-label class="ng-isolate-scope" gr-icon="close">
                <gr-icon><i class="gr-icon" ng:class="{'gr-icon--small': grSmall}"><span class="ng-binding ng-scope">close</span></i></gr-icon>
            <span class="icon-label"><span class="ng-scope">Cancel</span></span></gr-icon-label>
        </button>
    </span>
</form>

<button ng:class="{'small': ctrl.grSmall}"
        ng:click="ctrl.addLabel = true"
        ng:disabled="ctrl.adding"
        ng:if="!ctrl.addLabel"
        title="Add label">
    <gr-icon ng:class="{'spin': ctrl.adding}">add_box</gr-icon>
        <span ng:hide="ctrl.grSmall">
            Add<span ng:show="ctrl.adding">ing...</span>
        </span>
</button>
