/** =============================================

_ANIMATIONS.SCSS - Animation keyframes

============================================= **/

@keyframes spin {
    from   { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@keyframes flipper {
    0% {}
    95% {}
    100% { transform: rotateY(360deg); }
}
@-webkit-keyframes flipper {
    0% {}
    95% {}
    100% { transform: rotateY(360deg); }
}
