/* ==========================================================================

   _BASE.SCSS - Generic site defaults

   ========================================================================== */

html {
    font: 62.5% $baseFontFamily;
}

body {
    background-color: #333;
    color: #ccc;
    font-size: $baseFontSize;
    margin: 0;
    padding: 0 0 0 0;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-family: inherit;
    font-weight: normal;
    margin: 0;
}

figure, ul, li, dl, dd {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a, .link {
    color: #ccc;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        color: white;
    }

    &:focus {
        outline: 2px solid rgba(255, 255, 255, 0.5);
        outline-offset: -3px;
    }
}

.link--coloured {
    color: #00adee;
}

/* ==========================================================================
   Angular
   ========================================================================== */

/* FIXME: we use the element to be more specific, which is baloney */
input.ng-invalid,
textarea.ng-invalid {
    border-color: #ed5935;
}

/* ==========================================================================
   Page
   ========================================================================== */
.page-wrapper {
    margin: 0 auto;
    max-width: 900px;
    padding-top: 10px;
}

/* ==========================================================================
   Crop
   ========================================================================== */

.crop__action {
    margin-top: 12px;
}

/* ==========================================================================
   File uploader
   ========================================================================== */

.file-uploader__file {
    display: none;
}

.file-uploader__select-files {
    margin-top: 12px;
    padding: 5px 10px;
}

/* ==========================================================================
   Image actions
   ========================================================================== */
.image-actions-container .image-actions {
    display: none;
}

.image-actions {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, .75);
    display: none;
    text-align: center;
    font-size: 1.2rem;
    /* above preview__fade */
    z-index: $z-1;
}

.image-action {
    line-height: 24px;
    width: 24px;
    color: #999;
    display: block;
    border-top: 1px solid rgba(255, 255, 255, .3);
}
.image-action--first {
    border-top: 0;
}

.image-action:hover {
    color: white;
}

/* ==========================================================================
   Full Image / crop
   ========================================================================== */

.easel {
    display: block;
    text-align: center;
}

.easel__canvas {
    height: calc(100vh - 50px); /* viewport - top-bar */
    vertical-align: middle;
    overflow: hidden;
}

.easel__image-container {
    /*style rules also affect the cropper preview*/
    display: inline-block;
    height: calc(100% - 60px);
    width: calc(100% - 60px);
    margin-top: 30px;
}

.easel__image--checkered__background {
    background-color: #bdbdbd;
    background-image:
        linear-gradient(45deg, white 25%, transparent 25%),
        linear-gradient(135deg, white 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, white 75%),
        linear-gradient(135deg, transparent 75%, white 75%);

    background-size: 20px 20px;

    background-position: 0 0, 10px 0, 10px -10px, 0px 10px;

}

.easel__image {
    display: block;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    max-width: calc(100% - 20px); /* 20px here for padding */
    max-height: calc(100vh - 68px);
}

.easel__image--cropper {
    visibility: hidden;
}

.image-details {
    box-sizing: border-box;
    font-size: 1.3rem;
}
/* HACK: This is here until we start using the panelled-content here */
.image-details--full-image {
    float: right;
    height: calc(100vh - 50px); /* viewport - top-bar */
    width: 300px;
    border-left: 1px solid #565656;
}

.image-details--crop {
    float: left;
    width: 130px;
    border-right: 1px solid #565656;
    border-left: none;
    position: relative;
    height: calc(100vh - 50px); /* viewport - top-bar */
}

.image-details__delete-crops {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.image-details:after {
    clear: both;
    content:  " ";
    display:  table;
}

/*to clear the set widths of the side panels */
.image-holder {
    margin-right: 300px;
    margin-left: 130px;
}

.image-info__group {
    padding: 10px;
    border-bottom: 1px solid #565656;
}

.image-info__group--last {
    border-bottom: 0;
    clear: both;
}

.image-info__group table {
    border-collapse: collapse;
}

.image-info__group--list {
    width: 100%;
}

.image-info__group--list td {
    position: relative;
}

.image-info__group--dl {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

/*flex-basis values chosen to accommodate longest key*/
.image-info__group--dl__key {
    flex-basis: 40%;
}

.image-info__group--dl__value {
    flex-basis: 60%;
    position: relative;
    /* cut long words */
    overflow: hidden;
    text-overflow: ellipsis;
}

.image-info__group--dl__key--panel {
    flex-basis: 30%;
}

.image-info__group--dl__value--panel {
    flex-basis: 70%;
    position: relative;
}

.image-info__group--dl__key--full-metadata {
    flex-basis: 45%;
}

.image-info__group--dl__value--full-metadata {
    flex-basis: 55%;
    position: relative;
}

.image-info__title {
    color: #ccc;
}

.image-info__file-size {
    color: #ccc;
    font-size: 1.2rem;
    font-weight: normal;
}

.image-info__heading {
    color: #999;
    font-weight: bold;
    padding-bottom: 3px;
    display: flex;
    justify-content: space-between;
}

.image-info__heading--crops {
    flex-basis: 100%;
    max-width: 100%;
}

.image-info__heading--first {
    margin-top: 0;
}

.image-info__description,
.image-info__special-instructions {
    /* respect newlines in text */
    white-space: pre-line;
    color: #CCC;
}

.image-info__heading--lease {
    width: 90%;
    float: left;
}

.image-info__keyword {
    display: inline-block;
    background-color: #222;
    color: #999;
    border-radius: 8px;
    padding: 0 8px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 1.3rem;
}

.image-info__keyword a {
    color: inherit;
}

.image-info__wrap {
    position: relative;
    vertical-align: top;
    /* cut long words */
    overflow: hidden;
    text-overflow: ellipsis;
}

.image-info__wrap:hover .image-info__edit {
    display: block
}

.image-info__edit,
.edit-button {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    line-height: 21px;
    width: 21px;
    border-radius: 50%;
    color: #222;
    background-color: white;
}
.edit-button {
    display: block;
    position: relative;
}

.image-info__edit:hover,
.edit-button:hover {
    color: white;
    background-color: #222;
    border: 1px solid white;
    margin-top: -1px;
    margin-bottom: -1px;
}

.image-info__wrap .editable-wrap,
.image-info__wrap .editable-input {
    width: 100%;
}

.image-info__wrap .editable-error {
    text-align: right;
    font-size: 12px;
    color: #BB1212;
}

.image-info__wrap .editable-empty,
.image-info__wrap .editable-empty:hover {
    color: #999;
}

.image-info__wrap .editable-wrap .image-info__editor--error {
    border: 1px solid #BB1212;
    outline: none;
}

.image-info__wrap .editable-wrap .image-info__editor--saving {
    border: 1px dashed #ccc;
    outline: none;
}

/* targetting .image-info__wrap to win on specificity against default xeditable style */
.image-info__wrap .editable-input.editable-has-buttons {
    width: 100%;
}

/* targetting .image-info__wrap to win on specificity against default xeditable style */
.image-info__wrap .editable-buttons {
    display: flex;
    justify-content: flex-end;
    float: right;
    padding-top: 2px;
}

.image-info__usage-rights .ure {
    background: #333;
    padding: 10px;
}

.image-info--multiple {
    font-style: italic;
}

.image-notice {
    padding: 10px;
}

.metadata-line {
    color: #999;
}

.metadata-line__info {
    color: #ccc;
    padding-bottom: 10px;
}

.metadata-line__info--crop {
    padding-bottom: 0;
}

.metadata-line__info a {
    color: inherit;
    border-bottom: 1px solid #999;
}

.metadata-line__key {
    font-weight: bold;
    color: #999;
    vertical-align: top;
    text-align: left;
}

.metadata-reveal {
    color: #999;
    font-size: 1.4rem;
    font-family: inherit;
}

.metadata {
    font-family: $baseFontFamily;
}

.metadata__heading {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
}

.metadata__body {
    font-size: 1.3rem;
}

.image-crops {
    display: flex;
    flex-wrap: wrap;
}

.image-crop {
    margin-bottom: 10px;
    min-width: 100%;
    box-sizing: border-box;
    background-color: #333;
}

.image-crop:hover .image-crop__creator{
    display: inline;
}

.result--selected,
.result--selected:hover {
    border-color: #00adee;
}

.image-crop--selected {
    border: solid 2px #00adee;
}

.result--selected .preview {
    background-color: #4c4c4c;
}

.image-crop__creator {
    display: none;
    border-radius: 50%;
    background-color: #6E6E6E;
    opacity: 0.5;
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
}

.image-crop__creator:hover {
    opacity: 1;
}

.image-crop__image {
    display: block;
    max-width: 100%;
    max-height: 64px;
    margin: 0 auto;
}

.image-crop__info {
    background: #333;
    padding: 2px;
    font-size: 1.2rem;
}

.image-crop__more-info {
    line-height: 22px;
}

.image-crop__info--selected {
    color: #FFFFFF;
}

/* ==========================================================================
   Uploads
   TODO: remove unused classes
   ========================================================================== */

.jobs {
    border-collapse: collapse;
}

.job-status {
    padding: 5px 10px;
    border-radius: 5px;
}

.job-info {
    vertical-align: top;
    padding: 20px 30px 20px;
    border-bottom: 1px dashed #ccc;
    position: relative;
}

.job-info--thumbnail {
    /* reserve space */
    width: 200px;
    max-height: 150px;
    padding-left: 0;
    padding-right: 0;
}
.job-info--thumbnail__image {
    max-width: 100%;
    max-height: 100%;
}

.job-file {
    color: #aaa;
    font-size: 1.2rem;
    margin-top: 10px;
}

.job-info--editor__field {
    display: flex;
    margin-bottom: 5px;
    position: relative;
}
.job-info--editor__label {
    width: 130px;
    vertical-align: top;
}
.job-info--editor__input {
    display: inline-block;
    flex-grow: 1;
}
.job-info--editor__input--with-batch {
    padding-right: 25px;
}

.job-info--editor__input--description {
    height: 4em;
}

.job-info__credit {
    width: 100%;
}

.job-edit-disabler {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .75);
    position: absolute;
    left: 0;
    top: 0;
    z-index: $z-1;
}

.job-editor:after {
    clear: both;
    content: " ";
    display: table;
}

.job-editor__buttons {
    text-align: right;
}

.job-editor__button {
    display: inline-block;
    margin-bottom: 5px;
}

.job-labels {
    margin-top: 10px;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 2px;
    font-size: 1.4rem;
}
.job-labels:after {
    clear: both;
    content: " ";
    display: table;
}

.job-labeller {
    clear: both;
    text-align: right;
    font-size: 1.4rem;
    margin-top: 10px;
    display: block;
}

.job-apply-to-all {
    float: right;
}

.job-uploading {
    margin-bottom: 20px;
}

.job-editor__apply-to-all {
    position: absolute;
    /* These positions are so that we don't overlay the input borders */
    right: 1px;
    top: 1px;
    z-index: $z-1;
    padding: 0 5px;
}

.job-editor__apply-to-all:hover {
    color: #FFF;
}


.metadata-applicator {
    font-size: 1.4rem;
    text-align: right;
    /* FIXME: This is to get the text to lay next to the save button of the
    `metadata-editor` */
    padding-right: 80px;
    margin-top: -25px;
}

.metadata-applicator__button {
    font-weight: bold;
    text-decoration: underline;
}

.upload-result + .upload-result {
    margin-top: 10px;
    padding-top: 20px;
    border-top: 1px dashed #999;
}

.upload-result .gr-confirm-delete {
    padding: 0 10px;
}

.upload-result:hover .image-actions {
    display: block;
}


/* ==========================================================================
   jCrop
   ========================================================================== */


.jcrop-holder {
    margin: 0 auto;
    max-width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.jcrop-holder .easel__image {
    top: 50% !important;
}

.jcrop-keymgr {
    opacity: 0;
}

/* ==========================================================================
   Drag and drop
   ========================================================================== */
.dnd-uploader {
    border: 5px dashed #00adee;
    background: rgba(20, 20, 20, .75);
    width: calc(100vw - 10px);
    height: calc(100vh - 10px); /* border-box doesn't work with v units */
    position: fixed;
    top: 0;
    left: 0;
    z-index: $z-5;
    text-align: center;
}

.dnd-uploader__info {
    border: 0 solid #00adee;
    color: white;
    background: #00adee;
    max-width: 500px;
    border-radius: 2px;
    text-align: center;
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    animation-duration: 2000ms;
    animation-name: heartbeat;
    animation-iteration-count: infinite;
}

.dnd-uploader__heading {
    font-size: 2.6rem;
}

/* ==========================================================================
   Drop menu e.g top level navigation
   ========================================================================== */

.drop-menu {
    position: relative;
}

.drop-menu__button {
    padding: 5px;
    background-color: #333;
    line-height: $baseFontSize;
}
.drop-menu__button--nopad {
    padding: 0;
}

.drop-menu__close {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 2px;
}

.drop-menu__items {
    background-color: #333;
    position: absolute;
    padding: 10px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    top: calc(100% + 8px);
    z-index: $z-2;
    /* Drop items should win over everything */
    white-space: nowrap;
    line-height: normal;
    right: 0;
}

.drop-menu__items--right {
    right: 0;
}

.drop-menu__items--nopad {
    top: 100%;
}

.drop-menu__items--action {
    background-color: grey;
}


/* ==========================================================================
   Dropdown menu e.g. autocomplete
   ========================================================================== */

.dropdown-menu {
    z-index: $z-1;
    background: #333;
    padding: 5px;
}

.dropdown-menu li {
    cursor: pointer;
    color: #ccc;
    padding: 5px;
}

.dropdown-menu li:hover {
    background-color: #00adee
}


/* ==========================================================================
   Datalist
   ========================================================================== */

.datalist {
    position: relative;
    width: 100%;
}

.datalist__options {
    position: absolute;
    width: 100%;
    z-index: $z-1;
    border: 1px solid #999;
    background: #444;
    color: #ccc;
    padding: 5px;
    padding-right: 15px; /* hack to reserve some space for the scrollbar */
    font-size: 1.2rem;
    box-sizing: border-box;
    max-height: 400px;
    overflow-y: auto;
}

.datalist__input {
    width: 100%;
    box-sizing: border-box;
}

.datalist__option {
    cursor: pointer;
    padding: 5px;
}

.datalist__option--selected {
    background-color: #00adee;
    color: white;
}

/* ==========================================================================
   Heard not seen
   ========================================================================== */

.tracking-image {
    display: none;
}

/* ==========================================================================
   Forms
   ========================================================================== */

.form-label {
    display: flex;
}

.form-label__error,
.form-label__notice {
    font-size: 1.2rem;
    flex-grow: 1;
    text-align: right;
}
.form-label__error { color: #ed5935; }
.form-label__notice { color: orange; }

.form-property {
    display: block;
    margin-bottom: 10px;
}

.form-property--last {
    margin-bottom: 0;
}

.form-input-text {
    width: 100%;
}

.radio-list {
    display: flex;
    overflow: hidden;
}
.radio-list--invalid {
    border: 1px solid #ed5935;
}
.radio-list__item {
    flex-grow: 1;
    display:flex;
}
.radio-list__item:last-child {
    border-right: 1px;
}
.radio-list__label {
    flex-grow: 1;
    color: #CCC;
    background-color: #444;
    text-align: center;
    cursor: pointer;
    border: 1px solid #565656
}

.radio-list--selected .radio-list__label-value {
    background-color:#666;
    border: 1px solid #777;
    border-top: none;
}

.radio-list--selected .radio-list__selection-state {
    background: #00adee;
}

.radio-list--disabled .radio-list__label-value {
    color: #777;
}

.radio-list__circle {
    display: none;
}

.radio-list__selection-state {
    height: 3px;
    background: transparent;
}

.radio-list__label-value {
    padding: 5px 10px;
}

.drag-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    background-color: #CCCCCC;
}

.drag-count {
    position: absolute;
    top: -10px;
    right: -10px;
    border-radius: 50%;
    background-color: #666666;
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
}

@media print {

    /* ==========================================================================
       Image page
    ========================================================================== */

    /*!important is used to overwrite the component stylesheet (labeller.css) loaded after*/
    /*main.css*/

    button,
    gr-top-bar,
    gr-add-label,
    .image-details--crop,
    .image-info__group--full-metadata,
    .radio-list {
        display: none !important;
    }

    .image-details {
        border: none;
    }

    .metadata-line__info,
    .image-info__title,
    .image-info__description,
    .image-info__special-instructions,
    .label__value,
    .image-info__keyword {
        color: black !important;
    }

    .easel__canvas {
        overflow: visible;
    }

    .easel__image {
        float: left;
        max-width: 100%;
        max-height: 450px;
        transform: none;
        position: static;
    }

    .image-canvas, .image-details {
        height: auto;
        width: auto;
    }

    .image-info__description, .image-info__keyword {
        max-height: 80px;
        overflow: hidden;
    }

    .image-info__group, .metadata-line__info, .image-holder {
        padding: 0;
        margin: 0;
    }

    .image-info__group, .metadata-line__info a {
        border: none;
    }

    .image-info__group--dl__key {
        flex-basis: 20%;
    }

    .image-info__group--dl__value {
        flex-basis: 80%;
    }

    /* ==========================================================================
       Results page
    ========================================================================== */

    /*!important is used to overwrite the component stylesheet (panel.css) loaded after*/
    /*main.css*/

    .global-error,
    .gr-panel,
    .gr-panel__content,
    .results-toolbar {
        display: none !important;
    }

    .result-placeholder {
        border: none;
    }

    .preview__link {
        height: auto;
    }

    .preview__image {
        max-height: 150px;
    }

}
