/* ==========================================================================

   _DROPDOWN.SCSS - Drop menus

   ========================================================================== */

.drop-menu {
    position: relative;
}

.drop-menu__button {
    padding: $smallBaseline;
    background-color: $grey-bg;
    line-height: $font-size-3;
}
.drop-menu__button--nopad {
    padding: 0;
}

.drop-menu__close {
    position: absolute;
    top: $smallBaseline;
    right: $smallBaseline;
    padding: 2px;
}

.drop-menu__items {
    background-color: $grey-bg;
    position: absolute;
    padding: $baseline;
    box-shadow: 0 1px $smallBaseline rgba($black, 5);
    top: calc(100% + 8px);
    z-index: $z-2;
    /* Drop items should win over everything */
    white-space: nowrap;
    line-height: normal;
    right: 0;
}

.drop-menu__items--right {
    right: 0;
}

.drop-menu__items--nopad {
    top: 100%;
}

.drop-menu__items--action {
    background-color: $grey-light;
}

.dropdown-menu {
    z-index: $z-1;
    background: $grey-bg;
    padding: $smallBaseline;
}

.dropdown-menu li {
    cursor: pointer;
    color: $main-text;
    padding: $smallBaseline;
}

.dropdown-menu li:hover {
    background-color: $highlight;
}
