/* ==========================================================================

   _DROPDOWN.SCSS - Drop menus

   ========================================================================== */

.drop-menu {
    position: relative;
}

.drop-menu__button {
    padding: 5px;
    background-color: #333;
    line-height: $font-size-3;
}
.drop-menu__button--nopad {
    padding: 0;
}

.drop-menu__close {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 2px;
}

.drop-menu__items {
    background-color: #333;
    position: absolute;
    padding: 10px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    top: calc(100% + 8px);
    z-index: $z-2;
    /* Drop items should win over everything */
    white-space: nowrap;
    line-height: normal;
    right: 0;
}

.drop-menu__items--right {
    right: 0;
}

.drop-menu__items--nopad {
    top: 100%;
}

.drop-menu__items--action {
    background-color: grey;
}

.dropdown-menu {
    z-index: $z-1;
    background: #333;
    padding: 5px;
}

.dropdown-menu li {
    cursor: pointer;
    color: #ccc;
    padding: 5px;
}

.dropdown-menu li:hover {
    background-color: #00adee
}
