.gr-display-crops {
    color: #999;
    font-size: $font-size-2;
}

.gr-display-crops__crop {
    padding-bottom: 5px;
}

.gr-display-crops__crop__list {
    flex-direction: column;
    justify-content: flex-start;
}

