
.batch-archive__button {
    line-height: inherit;
    /* inherited color should be #ccc, but we have to explicitly set the
       fill colour here :-( */
    fill: #ccc; /* svg icons */
}

.batch-archive__button:hover {
    color: white;
    fill: white; /* svg icons */
}

.batch-archive__button[disabled],
.batch-archive__button--disabled,
.batch-archive__button--disabled:hover {
    color: #666;
    fill: #666; /* svg icons */
    cursor: default;
}

/* undo disabled button styling */
.batch-archive__button[disabled] {
    background-color: transparent;
    box-shadow: none;
}

/* Hack: overlay the normal background color as the parent that has a
   hover highlight isn't aware of the internal disabled state :-/ */
.batch-archive__button--disabled:hover {
    background-color: #333;
}

.batch-archive__icon svg {
    /* odd one, but the only one that seems to do the trick ;_; */
    vertical-align: middle;
}
