gr-confirm-delete {
    width: inherit;
}

.gr-confirm-delete {
    line-height: inherit;
}
.gr-confirm-delete:hover {
    color: white;
    background-color: $grey-contrast;
}

.gr-confirm-delete--confirm {
    color: white;
    background: $warning
}

.gr-confirm-delete--confirm:hover {
    background-color: #960000;
}
