/* ==========================================================================

   _HELPERS.SCSS - Utility classes

   ========================================================================== */

.full-width {
    width: 100%;
}

.flex-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.flex-container {
    display: flex;
}
.flex-container--rtl {
    flex-direction: row-reverse;
}

.flex-spacer {
    flex-grow: 1;
}

.flex-no-shrink {
    flex-shrink: 0;
}

.inline-block {
    display: inline-block;
}

.flex-center {
    align-items: center;
}

.side-padded {
    padding: 0 10px;
}

.clickable:hover {
    background-color: $grey-contrast;
    color: $white;
    cursor: pointer;
}

.inner-clickable {
    height: 100%;
    display: inline-block;
}

.section {
    margin-bottom: 25px;
}

.section__heading {
    font-size: $font-size-4;
    margin: 10px 0;
    border-bottom: 1px solid $grey-light
}

.text-small {
    font-size: $font-size-2;
}

.separator-left {
    border-left: 1px solid $grey-border;
}

.separator-right {
    border-right: 1px solid $grey-border;
}

.fill-height {
    height: 100%;
}

.bg-light {
    background-color: lighten($grey-bg, 2);
    color: $white;
}

.hover-parent .hover-child {
    display: none;
}
.hover-parent:hover .hover-child {
    display: initial;
}

.visibly-hidden {
    position: absolute;
    left: -9999px;
    font-size: 0;
}
