/* ==========================================================================

   _UPLOADS.SCSS

   ========================================================================== */

.jobs {
    border-collapse: collapse;
}

.job-status {
    padding: $smallBaseline $baseline;
    border-radius: $smallBaseline;
}

.job-info {
    vertical-align: top;
    padding: $largeBaseline 30px $largeBaseline;
    border-bottom: 1px dashed $main-text;
    position: relative;
}

.job-info--thumbnail {
    /* reserve space */
    width: 200px;
    max-height: 150px;
    padding-left: 0;
    padding-right: 0;
}
.job-info--thumbnail__image {
    max-width: 100%;
    max-height: 100%;
}

.job-file {
    color: $grey-light;
    font-size: $font-size-1;
    margin-top: $baseline;
}

.job-info--editor__field {
    display: flex;
    margin-bottom: $smallBaseline;
    position: relative;
}
.job-info--editor__label {
    width: 130px;
    vertical-align: top;
}
.job-info--editor__input {
    display: inline-block;
    flex-grow: 1;
}
.job-info--editor__input--with-batch {
    padding-right: 25px;
}

.job-info--editor__input--description {
    height: $xLargeBaseline;
}

.job-info__credit {
    width: 100%;
}

.job-edit-disabler {
    width: 100%;
    height: 100%;
    background: rgba($black, .75);
    position: absolute;
    left: 0;
    top: 0;
    z-index: $z-1;
}

.job-editor:after {
    clear: both;
    content: " ";
    display: table;
}

.job-editor__buttons {
    text-align: right;
}

.job-editor__button {
    display: inline-block;
    margin-bottom: $smallBaseline;
}

.job-labels {
    margin-top: $baseline;
    border: 1px solid $main-text;
    padding: $smallBaseline;
    border-radius: 2px;
    font-size: $font-size-2;
}
.job-labels:after {
    clear: both;
    content: " ";
    display: table;
}

.job-labeller {
    clear: both;
    text-align: right;
    font-size: $font-size-2;
    margin-top: $baseline;
    display: block;
}

.job-apply-to-all {
    float: right;
}

.job-uploading {
    margin-bottom: $largeBaseline;
}

.job-editor__apply-to-all {
    position: absolute;
    /* These positions are so that we don't overlay the input borders */
    right: 1px;
    top: 1px;
    z-index: $z-1;
    padding: 0 $smallBaseline;
}

.job-editor__apply-to-all:hover {
    color: $white;
}


.metadata-applicator {
    font-size: $font-size-2;
    text-align: right;
    /* FIXME: This is to get the text to lay next to the save button of the
    `metadata-editor` */
    padding-right: 80px;
    margin-top: -25px;
}

.metadata-applicator__button {
    font-weight: bold;
    text-decoration: underline;
}

.upload-result + .upload-result {
    margin-top: $baseline;
    padding-top: $largeBaseline;
    border-top: 1px dashed $grey-light
}

.upload-result .gr-confirm-delete {
    padding: 0 $baseline;
}

.upload-result:hover .image-actions {
    display: block;
}
