.ure {
    width: 100%;
    box-sizing: border-box;
    /* TODO: Remove this once we take it out of the dropdown */
    white-space: normal;
}

.ure__cost {
    display: inline-block;
    margin-left: 20px;
}

.ure__cost-selector {
    margin-left: 20px;
}

.ure__description {
    margin: 10px 0;
}

.ure__caution {
    margin: 10px 0;
}

.ure__restrictions {
    display: block;
}

.ure__restrictions-text {
    width: 100%;
}

.ure__bar {
    text-align: right;
}

.ure__action {
    margin-left: 4px;
}

.ure__multiple-rights-warning {
    color: orange;
}

.ure__category-invalid {
    border: 1px solid #ed5935;
}
