.job-editor__disabled {
    opacity: 0.4;
}

.job-info--editor__input-preview {
  border: 1px solid #ffbc01;
}

.job-usage-instructions {
  border: 1px solid yellow;
  padding: 2px;
  margin-left: 28px;
  width: 100%;
}
