.job-editor__disabled {
    opacity: 0.4;
}

.job-info--editor__input-preview {
  border: 1px solid #ffbc01;
}

.job-info--editor__multiline {
  padding-top: 6px;
}

.job-usage-instructions {
  border: 1px solid #ffbc01;
  padding: 2px 4px;
  line-height: 24px;
  background-color: #444;
}

.job-additional-special-instructions {
  padding-top: 2px;
  padding-bottom: 2px;
}
