.job-editor__disabled {
    opacity: 0.4;
}

.job-info--editor__input-preview {
  border: 1px solid #ffbc01;
}

.job-usage-instructions {
  border: 1px solid yellow;
  padding: 2px;
}

.job-additional-special-instructions {
  padding-top: 2px;
  padding-bottom: 2px;
}

.job-additional-special-instructions-label {
  min-width: 130px;
}
