<div class="crop-image">
    <div class="easel">
        <div class="easel__canvas">
            <img class="easel__image"
                 ng:src="{{image.data.secureUrl}}"
                 ui:crop-box="coords"
                 ui:crop-box-original-width="image.data.dimensions.width"
                 ui:crop-box-original-height="image.data.dimensions.height"
                 ui:crop-box-aspect="imageCropCtrl.aspect"
                 ui:crop-box-background-opacity="0.3"
            />
        </div>

        <div class="palette">
            <label class="palette__button">
                <input type="radio" ng:model="imageCropCtrl.aspect" value="{{landscapeRatio}}" />
                landscape
            </label>
            <label class="palette__button">
                <input type="radio" ng:model="imageCropCtrl.aspect" value="{{portraitRatio}}" />
                portrait
            </label>
            <label class="palette__button">
                <input type="radio" ng:model="imageCropCtrl.aspect" value="{{freeRatio}}" />
                free-form
            </label>
            <button class="button palette__button"
                    type="button"
                    ng:click="crop()"
                    ng:disabled="cropping">crop<span ng:show="cropping">ping…</span></button>

            <a class="palette__button" ui:sref="image({ imageId: image.data.id })">back</a>
        </div>
    </div>
</div>
