<div class="full-image" ng:controller="ImageCtrl">
    <a ng:href="/images/{{image.id}}">
        <img class="full-image__image"
             ng:src="{{image['secureUrl']}}"/>
    </a>
    <dl>
        <dt class="data-header">Description</dt>
        <dd>{{image.metadata.description}}</dd>

        <dt class="data-header">Uploaded</dt>
        <dd>{{image['uploadTime'] | date:'d MMM yyyy, HH:mm'}}</dd>

        <dt class="data-header">Metadata</dt>
        <dd>
            <table>
                <tbody>
                    <tr ng:repeat="(key, value) in image.metadata">
                        <td class="metadata-key">{{key}}</td>
                        <td>{{value}}</td>
                    </tr>
                </tbody>
            </table>
        </dd>
    </dl>
</div>
