<div class="full-image" ng:controller="ImageCtrl">
    <div class="image-details" id="image-info">
        <dl class="image-info image-info--main">
            <dt class="image-info__heading image-info__heading--first">Description</dt>
            <dd>{{image.data.metadata.description}}</dd>

            <dt class="image-info__heading">Uploaded</dt>
            <dd>{{image.data.uploadTime | date:'d MMM yyyy, HH:mm'}}</dd>
        </dl>

        <div class="image-info image-info--sub">
            <table class="image-info__group metadata">
                <caption class="metadata__heading">Metadata</caption>
                <tbody class="metadata__body">
                    <tr ng:repeat="(key, value) in image.data.metadata" ng:if="isUsefulMetadata(key)">
                        <th class="metadata__key">{{key}}</td>
                        <td>{{value}}</td>
                    </tr>
                </tbody>
            </table>

            <dl class="image-info__group" ng:if="crops.length > 0">
                <dt class="image-info__heading">Crops <span ng:if="cropKey">(<a ui:sref="{ crop: null }">original</a>)</span></dt>
                <dd>
                    <ul class="image-crops">
                        <li class="image-crop"
                            ng:class="{'image-crop--selected': (crop|getCropKey) == cropKey}"
                            ng:repeat="crop in crops">
                            <a draggable="true"
                               ng:init="extremeAssets = (crop | getExtremeAssets)"
                               ui:sref="{crop: (crop | getCropKey)}"
                               ui:drag-data="{{imageSync | asImageAndCropsDragData:crop}}"
                               ui:drag-image="{{extremeAssets.smallest.file}}">
                                <img class="image-crop__image" ng:src="{{extremeAssets.smallest.file}}" />
                            </a>
                            <div class="image-crop__aspect-ratio">{{crop.specification.aspectRatio | asAspectRatioWord}}</div>
                        </li>
                    </ul>
                </dd>
            </dl>

            <dl class="image-info__group" ng:if="image.data.metadata.keywords.length > 0">
                <dt class="image-info__heading">Keywords</dt>
                <dd>
                    <ul>
                        <li ng:repeat="keyword in image.data.metadata.keywords"
                            class="image-info__keyword">
                            {{keyword}}
                        </li>
                    </ul>
                </dd>
            </dl>
        </div>
    </div>

    <div class="easel easel--with-meta" ng:if="! cropKey">
        <div class="easel__canvas">
            <img class="easel__image"
                 ng:src="{{image.data.source.secureUrl}}"
                 ui:drag-data="{{imageSync | asImageDragData}}" />
        </div>

        <div class="palette">
            <a class="palette__button" ui:sref="search.results">back to search</a>
            <a class="palette__button" ui:sref="crop({imageId: image.data.id})">create crop ✄</a>
        </div>
    </div>

    <!-- if we want to see a crop -->
    <div class="easel easel--with-meta" ng:if="cropKey">
        <!-- TODO: As this loads async, add a loader -->
        <div class="easel__canvas">
            <a draggable="true"
               class="easel__image-container"
               ng:if="crop"
               ng:init="extremeAssets = (crop | getExtremeAssets)"
               ui:sref="{crop: cropKey}"
               ui:drag-data="{{imageSync | asImageAndCropsDragData:crop}}"
               ui:drag-image="{{extremeAssets.smallest.file}}">
                <img class="easel__image" ng:src="{{extremeAssets.largest.file}}" />
            </a>
        </div>

        <div class="palette">
            <a class="palette__button" ui:sref="search.results">back to search</a>
            <a class="palette__button" ui:sref="{crop: null}">back to original</a>
        </div>
    </div>
</div>
