<div ng:controller="SearchCtrl">
    <form class="search">
        <input type="text"
               placeholder="Search for images..."
               ng:model="query"
        />
        <label>
            <input type="radio" ng:model="since" value="" />
            Anytime
        </label>
        <label>
            <input type="radio" ng:model="since" value="24.hour" />
            Last 24 hours
        </label>
        <label>
            <input type="radio" ng:model="since" value="1.week"  />
            Last week
        </label>
        <!--
            Anytime
            Today (since midnight vs last 24 hours?)
            Yesterday

            Other: [since, to]
          -->
    </form>

    <ul class="results">
        <li class="image-result" ng:repeat="image in images">
            <a ng:href="/images/{{image.data.id}}"
               ui:drag-data="{{image | asDragData}}">
                <figure>
                    <img class="image-result__image"
                         ng:src="{{image.data.thumbnail.secureUrl}}"/>
                    <figcaption class="image-result__caption">{{image.data.metadata.title}}</figcaption>
                </figure>
            </a>
        </li>
    </ul>

    <ul class="buckets">
        <li class="bucket" ng:repeat="bucket in buckets">
            {{bucket}}
        </li>
        <li class="bucket bucket--new">
            New...
        </li>
    </ul>
</div>
