<div>
    <form ng:controller="SearchQueryCtrl"
          class="search">
        <input type="text"
               placeholder="Search for images..."
               autofocus="autofocus"
               class="search__query"
               ng:model="query"
        />

        <label class="search__control search__control--free">
            <input type="checkbox" ng:model="free" />
            Free to use
        </label>
        <label class="search__control">
            <input type="radio" ng:model="since" />
            Anytime
        </label>
        <label class="search__control">
            <input type="radio" ng:model="since" value="24.hour" />
            Last 24 hours
        </label>
        <label class="search__control">
            <input type="radio" ng:model="since" value="1.week"  />
            Last week
        </label>
        <!--
            Anytime
            Today (since midnight vs last 24 hours?)
            Yesterday

            Other: [since, to]
          -->
    </form>

    <div ui:view></div>
</div>
