gr-confirm-delete {
    width: inherit;
}

.gr-confirm-delete {
    line-height: inherit;
}

.gr-confirm-delete--confirm {
    color: white;
    background: red;
}

.gr-confirm-delete--confirm:hover {
    background-color: #960000;
}
