.gr-confirm-delete {
    box-sizing: border-box;
    height: 100%;
    line-height: inherit;
}

.gr-confirm-delete:hover {
    color: white;
    background-color: #666666;
}

.gr-confirm-delete--confirm {
    color: white;
    background: red;
}

.gr-confirm-delete--confirm:hover {
    background-color: #960000;
}
