gr-confirm-delete {
  width: inherit;
}

.gr-confirm-delete {
  line-height: inherit;
  width: 100%
}
.gr-confirm-delete:hover {
  color: white;
  background-color: #666666;
}

.gr-confirm-delete--confirm {
  color: white;
  background: red;
}

.gr-confirm-delete--confirm:hover {
  background-color: #960000;
}
