.lease__form select,
.lease__form input,
.lease__form .lease__date {
  width: 90%;
  margin: 5px;
}

.lease-wrapper gr-icon:hover {
  cursor: pointer;
}

.lease__date {
  padding: 4px;
}

.add-lease__header {
  display: block;
}

.gu-date-range__overlay  {
  display: flex;
  position: relative;
}

.lease {
  margin: 4px;
  padding: 3px;
  background-color: #565656;
}

.active.allowed {
  background-color: green;
}

.active.denied {
  background-color: red;
}
