.lease__form {
    background-color: #444;
    color: #ccc;
    border: 1px solid #999;
    padding: 5px;
    box-sizing: border-box;
}
.lease__form select,
.lease__form input[type='text'],
.lease__form .lease__date {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px;
}
.lease__form input {
  box-sizing: border-box;
  margin-bottom: 10px;
}
.leases__apply-all {
    flex-shrink: 0;
    margin-left: 10px;
    line-height: 20px;
    font-size: 1.6rem;
}
.leases__wrapper gr-icon:hover {
  cursor: pointer;
}

.lease__item {
  width: 100%;
  margin: 3px;
  background-color: #565656;
}

.lease__item p {
  margin: 2px;
  font-style: italic;
}

.lease__date {
  position: relative;
}

.add-lease__header {
  display: block;
}

.lease {
  display: flex;
  justify-content: space-between;
  margin: 4px;
  padding: 3px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.lease:hover {
  color:white;
}

gr-leases .metadata-line__key {
  margin-bottom: 10px
}

.allowed {
  background-color: #90ee90;
}

.denied {
  background-color: red;
}

.image-details .gu-date-range__overlay {
    position: fixed;
    right: 0;
}

gr-leases .gu-date-range__overlay {
  z-index: 1;
}

gr-leases .gu-date-range__display {
  width: 100%;
}

.image-details--full-image,
.image-info__wrap {
  overflow: visible;
}

.image-info__lease {
  padding-top: 3px;
  color: #CCC;
  font-style: italic;
  display: inline-block;
}


.lease__form__buttons {
  text-align: right;
  margin-top: 8px;
  margin-bottom: 20px;
}

.lease__delete {
  float: right;
}

.gr-confirm-delete:hover :not(gr-icon--small){
  background-color: inherit;
}

.lease__access,
.lease__current {
  box-sizing: border-box;
  width: 100%;
  float: left;
}

.lease__access {
  padding: 3px;
  margin-bottom: 2px;
}

.lease__current {
  padding: 2px;
}

.lease__current.current {
  background-color: #00ADEE;
}

.current {
  color: white;
}

gr-leases.leases-flex {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.result-editor__field-container__leases
gr-leases.leases-flex ul {
  display:flex;
  flex-direction: row;
  font-size: 1.3rem;
}

gr-leases.leases-flex button {
  flex-shrink: 0;
}

gr-leases.leases-flex .lease__item {
  border-radius: 5px;
}

gr-leases.leases-flex gr-confirm-delete {
  display: block;
}
