.panels {

}

.panels-content {
    display: flex;
    position: relative;
}

.panel {
    box-sizing: border-box;
    background: #444;
    z-index: 3;
    transition: width 1s;
    position: fixed;
    overflow: scroll;
    width: 290px;
}

.panel--left {
    left: 0;
}

.panel--right {
    right: 0;
}

.panel--hidden {
    width: 0;
    overflow-x: hidden;
}

.panel--locked {
    position: relative;
}

.panel__content {
    width: 290px;
}

.panelled-content {
    flex-grow: 1;
}


/* Stupid hack as we haven't decoupled the search toolbar and search results */
.search-panels .panel {
    display: block;
    margin-top: 36px;
}
