.gr-panels-content {
    display: flex;
    position: relative;
}

.gr-panel {
    box-sizing: border-box;
    z-index: 3;
    position: fixed;
}

.gr-panel--locked {
    position: relative;
    width: 290px;
}

.gr-panel--locked:first-child {
  width: 250px;
  box-sizing: border-box; /* @TODO: Apply border-box to everything, then resize everything that breaks */
}

.gr-panel__content {
    width: 290px;
    position: fixed;
    background: rgba(68, 68, 68, 0.9);
    transition: width 0.2s;
    overflow: auto;
}

.gr-panel--locked .gr-panel__content {
    background: rgba(68,68,68,1)
}

.gr-panel__content--hidden {
    width: 0;
    overflow: hidden;
}
.gr-panel__content--left {
    left: 0;
}

.gr-panel__content--left:not(.gr-panel__content--hidden) {
  width: 250px;
}

.gr-panel__content--right {
    right: 0;
}

.gr-panelled-content {
    flex-grow: 1;
}


/* Stupid hack as we haven't decoupled the search toolbar and search results */
.search-panels .gr-panel {
    display: block;
    margin-top: 36px;
}

.gr-panel-height {
    height: calc(100vh - 86px); /* 50px search bar, 36px toolbar */
}
