# This action runs every day at 6 AM and on every push
# If the branch it's running on is main then it will run snyk monitor (reports vulnerabilities to snyk.io)
# Otherwise it will run snyk test
name: Snyk

on:
  schedule:
    - cron: "0 6 * * *"
  push:
#    branches:
#      - main
  workflow_dispatch:

jobs:
  snyk-monitor:
    runs-on: ubuntu-latest
    env:
      SNYK_COMMAND: monitor
    steps:
      - name: Checkout branch
        uses: actions/checkout@v2

#      - name: Get node version
#        run: echo NODE_VERSION=$(cat .nvmrc) >> $GITHUB_ENV

      - uses: snyk/actions/setup@0.3.0

      - name: Snyk monitor all projects
        run: snyk monitor --all-projects
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}

