gr-radio-list {
  display: flex;
}

gr-radio-list > * {
  flex-grow: 1;
  border: 1px solid #777;
}

/* remove a horrible double border */
gr-radio-list > *:nth-child(2) {
  border-left: none;
  border-right: none;
}

gr-radio-list input[type="radio"] {
  display: none;
}

gr-radio-list input[type="radio"]:checked + label {
  background-color: #666;
  border-bottom: 3px solid #00adee;
}

gr-radio-list input[type="radio"]:disabled + label {
  color: #666;
}

gr-radio-list input[type="radio"]:disabled + label:hover {
  background-color: #444;
  color: #666;
}

gr-radio-list label {
  background-color: #444;
  border-bottom: 3px solid transparent;
  color: #ccc;
  width: calc(100% - 20px);
  display: inline-block;
  padding: 5px 10px;
  cursor: pointer;
  text-align: center;
  user-select: none;
  -moz-user-select: none;
  text-transform: capitalize;
}

gr-radio-list label:hover {
  background-color: #666;
}
